[2021-11-25 14:14] Rocker2102 opened #2 "Only single timer is displayed if multiple sites are opened simultaneously"
Only a single timer is displayed _(referring to the first site only)_ **even if multiple websites are opened simultaneously**.

[2021-11-26 04:38] Daksh777 commented on #2
I'm not quite sure of a way to display multiple timers since there is also a timer in the tab title. If you have any idea, please feel free to send a PR.

That is a bug and needs to be fixed.

[2022-02-22 05:44] Daksh777 opened #3 "Timer does not stop if the website is manually closed before the timer expires"

[2022-02-22 05:52] Daksh777 opened #4 "Add check for custom time input"
The time entered must be number type unlike right now which accepts anything.
In case, the input is not a number type, an error should be displayed.

[2022-02-22 05:54] Daksh777 opened #5 "Add backdrop for custom time input card"
Add a backdrop to the custom time input like it is there for the custom website card
![image](https://user-images.githubusercontent.com/43648146/155071623-31ee00f0-b25d-4b94-803d-cc4e7a5886ab.png)

[2022-02-23 13:35] Payalsahb20220 commented on #4
Hello @Daksh777
can u please assign me this issue :)

[2022-02-23 13:45] Daksh777 commented on #4
Hey @Payalsahb20220
If you are from GSSoC, you need to start contributing from March 1.
I will assign the issue to you now, however, please only start contributing from March 1.

[2022-02-25 07:12] vickyrules commented on #3
I think i can fix this. Please allow  me to do so.

[2022-02-25 07:15] vickyrules commented on #4
If she failed to fix that then
Please assign it to me.

[2022-02-25 09:30] Daksh777 commented on #3
Hey @vickyrules
If you are from GSSoC, you need to start contributing from March 1.
I will assign the issue to you now, however, please only start contributing from March 1.

[2022-02-25 09:50] MeetaHaldar commented on #2
please , assign this issue to me. i want to work on it.

[2022-02-25 10:47] Daksh777 commented on #2
Hey @MeetaHaldar
If you are from GSSoC, you need to start contributing from March 1.
I will assign the issue to you now, however, please only start contributing from March 1.

[2022-02-25 10:50] Daksh777 opened #6 "Add motivational quotes to the "time's up" card"
![image](https://user-images.githubusercontent.com/43648146/155702471-fbe55bf1-c182-4642-9d6b-da196b5f38ad.png)

Motivational quotes can be fetched from either one of these APIs:
- https://type.fit/api/quotes
- https://zenquotes.io/

[2022-02-25 17:58] Jaideepgarlyal15 opened #7 "Add a dark/colourful theme toggle"
Hi, Jaideep Singh Garlyal I'm a **contributor**. My plan is to enhance the website by using **Three.js to use 3D background**. Which will look amazing and would be really interesting for the user and keep them **engaging with the 3D effect.**It will give the form a new 3D look. I would like to contribute to this issue. Please assign me this issue.

[2022-02-26 06:14] MeetaHaldar commented on #2
yes, sure! thankyou

[2022-02-26 06:53] Daksh777 commented on #6
When the timer ends and the website closes, a "time's up" dialogue is displayed.
The suggestion is to add a motivation quote like this:
![image](https://user-images.githubusercontent.com/43648146/155833249-fde4d4f2-dad9-4c90-a582-bdadb76fa0f6.png)

You are free to use any good fonts which you may like and enhance it.

[2022-02-26 08:24] Daksh777 commented on #6
If @Pragatii08 is not able to do it, I will assign this issue to you @Ajoe12

[2022-02-26 14:51] ankitadam commented on #5
Can you explain more about this issue?

[2022-02-26 15:23] harshitab07 commented on #7
Hey @Daksh777 , as per your suggestion for colorful blobs, I would like to work on it. Can you please assign this issue to me?

[2022-02-27 03:02] sushovanb02 commented on #5
@Daksh777 I want to work on this issue (for GSSoC). I'll start contributing from 1st March.

[2022-02-27 05:26] Daksh777 commented on #7
If @Jaideepgarlyal15 is unable to do it, I will assign it to you @harshitab07

[2022-02-27 05:28] Daksh777 commented on #5
By the backdrop, I mean the shadow/black overlay and it doesn't allow you to click anywhere else until the dialogue is closed.
You may go to https://breaks.eu.org and check the backdrop for the custom time input dialogue/card vs the option to add a custom site.

[2022-02-27 05:29] Daksh777 commented on #5
@sushovanb02 If @ankitadam is not able to work on it, I will assign it to you.

[2022-02-27 05:31] sushovanb02 commented on #5
okay, can you open some more issues in this project?

[2022-02-27 06:08] Daksh777 commented on #5
If I do see any issues/enhancements, I will. You are also free to open issues and work on them once approved @sushovanb02

[2022-02-27 06:21] ankitadam commented on #5
Okay, got it. I want to work on it as part of GSSoC'22. Please assign it to me.

[2022-02-27 08:27] roushandas02 opened #8 "Alert before closing the site suddenly after completion of time"
Hello @Daksh777 ,

My suggestion is as follows:
Suppose any person started the timer and is exploring his entered site with full concentration, no one would pay any heed to the timer running on tab and then it would be too irritating if the site suddenly closes after the completion of entered time. The user experience would be at stake. In this case I would suggest to **drop 2 time alerts at 50% a

[2022-02-27 09:13] Daksh777 commented on #8
Those are absolutely amazing suggestions @roushandas02
Can you please create separate issues for each of the suggestions? I'll assign them to you and discuss a bit about them.

[2022-02-27 12:11] roushandas02 commented on #8
Sure @Daksh777 , I'll create separate issues for the second and third one right away
and thanks for your appreciation and support.

[2022-02-27 12:16] roushandas02 opened #9 "Option for Extension of time before closing the site"
Hello @Daksh777 ,

My Suggestion is, Suppose while exploring, the user gets something that is in the favour of his interest / research / curiosity and he wants to continue with the same. So **before closing the site, there should be a space for extension of time.**

Thanks and Regards,
Roushan Das,
A GSSOC Contributor.

[2022-02-27 12:20] roushandas02 opened #10 "Exclusion of the Loading time from user-input time"
Hello @Daksh777 ,

The starting loading time of 5 seconds is added to the time the user asks. So it should be excluded from that time and the user should get his full time.

Thanks and Regards,
Roushan Das,
A GSSOC Contributor.

[2022-02-27 12:43] Daksh777 commented on #8
Great suggestion @roushandas02
Can you tell me what will you be using to show the notifications?
I was hoping if we could implement browser push notifications (for both mobile and desktop) using the notification API: https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API/Using_the_Notifications_API

[2022-02-27 12:44] Daksh777 commented on #10
Good suggestion, you may start contributing from 1st March.

[2022-02-27 12:46] Daksh777 commented on #9
Great suggestion.
Do you have any idea on the implementation for this?
I think a good option would be to combine this with the push notification sent when the time is about to end (#8). So, when the push notification is sent that the timer is about to expire, we can add buttons to extend the timer in the push notification.

[2022-02-27 13:35] roushandas02 commented on #10
Thank you for assigning me this task. I will start my contribution from 1st March.

[2022-02-27 13:40] roushandas02 commented on #9
Thank you for assigning me this task. I would surely take your suggestion under consideration and try to implement it from 1st March.

[2022-02-27 13:48] roushandas02 commented on #8
First of all, thank you to assign me this task. Secondly, I think I would require 2 - 3 days to analyze the problem deeply and then form a plan of action regarding the same. I would try to explore your idea and extract beneficial information out of it. I will start my work from 1st March.

[2022-02-27 13:52] harshitab07 commented on #7
@Daksh777  oh sure

[2022-02-27 14:06] Daksh777 commented on #7
@Jaideepgarlyal15 Would you like to work on this or should I assign it to @harshitab07?

[2022-02-27 14:12] Daksh777 commented on #8
Sounds good, feel free to take your time.

[2022-02-27 15:38] youganjansarki18 commented on #6
I would also like to work on this issue , if @Pragatii08  and @Ajoe12 is unable to do it. :)

[2022-02-27 18:51] Kanika1309 commented on #6
I am GSSoC'22 participant and would like to work on this task if not completed by others.

[2022-02-28 02:42] adi2002vicky commented on #7
Hey, I'm GSSOC'22 participant. If this issue is still unresolved kindly assign this to me.

Sir i have already created it ,so please can u assign this task to me

[2022-02-28 06:08] rakeshchirla commented on #6
I  would like to work on this task if not completed by others. I am a GSSoC'22 participant too.

[2022-02-28 09:14] Daksh777 commented on #7
@adi2002vicky, @harshitab07 and @Jaideepgarlyal15 already are/want to work on the issue. If both of them are unable to do it, I'll assign it to you.

[2022-02-28 12:15] Anish1411 commented on #6
I also want to work on this issue , if others are unable to do it.

[2022-02-28 17:57] kalashvasaniya commented on #7
Hey assign it to me!

[2022-02-28 18:27] MonarchGitHub opened #13 "Creating issue templates for the repo"
I want to add a few issue templates so that it will be convenient for new contributors to open issues. I plan to create  **Bug Report** and **Feature Request** templates. You can read more about issue templates [here](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/about-issue-and-pull-request-templates#issue-templates)

**_The Bug Report issue t

[2022-02-28 18:34] aishalg commented on #6
I too would like to work on this issue

[2022-02-28 18:36] aishalg commented on #5
I can work on this if someone is unable to do so @Daksh777

[2022-02-28 21:19] Jyo561 opened #14 "A better UI"

[2022-03-01 03:34] 99896264 opened #15 "Task remainder"
Hii @Daksh777, I have an idea but am not sure how to go ahead with it.
Once the timer ends, we can remind the person of the tasks he will enter in his tasks section or a to-do list that either can be a feature or just a note which pops up at the end.

This may create a strong feeling of getting back to work as that's our main motto in the project.

 Any improvements and suggestions on how to work

[2022-03-01 05:15] SRADHA-SURESH12 commented on #13
Hey there can I work on this issue?

[2022-03-01 05:22] Daksh777 commented on #13
@MonarchGitHub Could you create issue forms instead?
Read: https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms

[2022-03-01 05:22] Daksh777 commented on #13
If @MonarchGitHub is not able to, I'll assign it to you.

[2022-03-01 05:25] Daksh777 commented on #14
Please explain more @Jyo561

[2022-03-01 05:26] Daksh777 commented on #6
@Pragatii08 Would you like to work on this issue or should I assign it to someone else?

[2022-03-01 05:27] Daksh777 commented on #7
@Jaideepgarlyal15 Can you confirm if you'd like to work on this issue or should I assign someone else?

[2022-03-01 05:31] SRADHA-SURESH12 commented on #13
oh okay thank you

[2022-03-01 05:32] Daksh777 commented on #15
I think it would be great.
My suggestion is that you could add a toggle/switch under the timer buttons to show/hide the to-do list.
The to-do list should appear at the bottom (which is under the pre-added websites)

Please make sure to follow the same design/color system.

[2022-03-01 05:40] 99896264 commented on #15
Sure, thank you!

[2022-03-01 05:41] SRADHA-SURESH12 commented on #14
Hey there canI work on this issue?

[2022-03-01 05:42] aishalg commented on #6
Yes, I can work on it

On Tue, Mar 1, 2022 at 10:56 AM Daksh P. Jain ***@***.***>
wrote:

[2022-03-01 05:42] Daksh777 commented on #14
Can you please explain what you will be doing for this issue @SRADHA-SURESH12?

[2022-03-01 05:44] MonarchGitHub commented on #13
@Daksh777 yes issue form will be better than a template, I'll create it.

[2022-03-01 05:55] SRADHA-SURESH12 commented on #14
I haven't completely finalised, My idea is to use  a glossy  color than grey, use a bit more soothing font.
 Also add a countdown timer to show the time left.

This is an initial idea, I have to find more ideas, I will update as I get them?

[2022-03-01 05:56] 99896264 opened #16 "About section in the website"
Hii @Daksh777,
I felt we could give a small detail as we enter the website (it could be something like Welcome and a short description) or  "About" section, what is Take a break and how it works, at the top right corner as a small button. Any improvements and suggestions on which direction we can go ahead are welcomed, and I want to work on this issue.

[2022-03-01 06:01] Daksh777 commented on #16
We already display a pop up with a welcome and about message to a visitor who hasn't ever visited the website before.
However, what you could do is put an "i" button/icon on the top left corner of the website to show the same popup.
You can download an SVG icon from https://fonts.google.com/icons

[2022-03-01 06:03] Daksh777 commented on #14
I intend to keep the website's design this way to make it look simple.
So the fonts and colours won't be changing.
However, a toggle for a dark/colourful theme can be implemented which is already suggested in #7

[2022-03-01 06:08] 99896264 commented on #16
okay, thank you!

[2022-03-01 06:08] SRADHA-SURESH12 commented on #14
ohh okay

[2022-03-01 06:10] harshitab07 commented on #7
@harshitab07  Sir if @Jaideepgarlyal15 fails to respond kindly assign this to me.

[2022-03-01 06:13] Daksh777 commented on #14
There are quite a few people who want to work on it, if none of them is able to do it, I'll assign it to you

[2022-03-01 06:13] Daksh777 commented on #7
I'll wait for 1 day more, if there is no response, I'll assign it to you.

[2022-03-01 06:13] #14 closed

[2022-03-01 06:25] Susmita-Dey opened #17 "[DOCUMENTATION] Contributing.md and code_of_conduct.md files are missing"
**I want this issue to be assigned to me. I'm a GSSOC'22 participant. I can work on this issue.
I would add both of these files to this repo.**

[2022-03-01 06:31] Susmita-Dey opened #18 "Contact Section in the website"
Contact info like support mail or social media handles can be added to the website.
I want this issue to be assigned to me. I'm a GSSOC'22 participant. I can work on this issue.

[2022-03-01 06:43] Daksh777 commented on #18
Hi @Susmita-Dey
Thank you for your suggestion. However, I intend to keep the website a one-pager only and not add anything extra.
There are already links to the GitHub repo and my website in the footer of the website so I don't think we'd need a contact page as of now.

[2022-03-01 06:43] #18 closed

[2022-03-01 06:44] Daksh777 commented on #17
This issue is already being worked on in #13

[2022-03-01 06:48] Susmita-Dey commented on #17
But they are creating only issue templates. I want to add the two files.

[2022-03-01 06:52] Daksh777 commented on #17
Oh, I'm really sorry. I misread the issue.

[2022-03-01 06:53] Susmita-Dey commented on #17
Thanks for assigning it to me.

[2022-03-01 07:14] rajaditya28 opened #19 "Adding an alert when the user adds an empty site link using the add site button."
Currently, the site allows adding empty sites using the add site button. Also, inspite of the code having a http adder to site links that dont start with http, it doesn't seem to work as expected.

![Screenshot 2022-03-01 123918](https://user-images.githubusercontent.com/68824237/156121853-31cb9174-2795-4fdb-b778-13a0ca8dec0c.png)

![Screenshot 2022-03-01 124149](https://user-images.githubusercont

[2022-03-01 07:16] Daksh777 commented on #19
Good find, I'll assign the issue to you.

[2022-03-01 07:19] rajaditya28 commented on #19
Thank you for assigning the issue !

[2022-03-01 07:27] Susmita-Dey commented on #7
Hey, I want to work on this issue. I'm GSSOC'22 participant. If this issue is still unresolved kindly assign this to me.

[2022-03-01 07:38] Payalsahb20220 opened #21 "No input error showing if we write noting in custom time"
@Daksh777  sir , currently when i click on custom and put nothing in "time in minutes"  and then click  "lets go" no input error showing like in your code a message "you need to write something" should be shown but it only remove custom page. And if we put space instead of enter some value and then click "lets go" then it remove custom page and  slide down .

[2022-03-01 07:48] codervivek5 commented on #16
I want to work on this issue under the Gssoc'22. plz assign me for the contribution.

[2022-03-01 07:49] Daksh777 commented on #21
@Payalsahb20220 You have already been assigned to this issue in #4
Did you meant to put a comment there?

[2022-03-01 07:49] #21 closed

[2022-03-01 07:50] Daksh777 commented on #16
@codervivek5, @99896264 is already assigned to it. If they are unable to work on this issue, I'll assign you to it

[2022-03-01 07:55] #17 closed

[2022-03-01 09:11] Rituresh143 commented on #6
i can work on this issue please assign me

[2022-03-01 09:40] Pragatii08 commented on #6
I'll drop this one as of now.

[2022-03-01 10:19] thisisharsh7 commented on #4
if this issue is not taken by anyone?
@Daksh777  please assign this to me.

[2022-03-01 10:21] Daksh777 commented on #6
@Ajoe12, I'll assign this to you

[2022-03-01 10:25] Ajoe12 commented on #6
Thank you very much @Daksh777

[2022-03-01 11:07] Ajoe12 commented on #6
I had completed the task pls verify the pull request @Daksh777

[2022-03-01 11:13] Sanghu01 commented on #19
I want to work on this project.

[2022-03-01 11:34] Daksh777 commented on #13
Hey @MonarchGitHub
Can you please remove the desktop information field?

[2022-03-01 11:34] kunalkatara12 commented on #7
Hey, if this issue is not assigned to anyone, kindly assign this to me.

[2022-03-01 11:35] aarushimaurya opened #24 "Adding header in the page"
Hey, I am a GSSoC'22 participant. I feel that we should add a header to the page. We can also improve the footer design.

[2022-03-01 11:35] Daksh777 commented on #19
@Sanghu01 The issue is already assigned to @rajaditya28, so I can not assign it to you

[2022-03-01 11:37] Daksh777 commented on #24
Can you please elaborate more?

[2022-03-01 11:49] aarushimaurya commented on #24
We can add a navbar on the top and also make the footer better

[2022-03-01 11:50] Daksh777 opened #25 "Use time abbreviations instead of inputting time in minutes"
In the custom time input, the time entered is in minutes
This needs to be changed to time abbreviations, for example, 2m and 0.5h (i.e, m -> minutes and h -> hours)

[2022-03-01 11:52] Daksh777 commented on #24
I don't think we need a navbar. The website is intended to be a one-pager and I want to keep it that way so I don't think that is required.
By improving the footer, what will you exactly be doing?

[2022-03-01 11:54] fleurdelis07 commented on #25
Could you please assign me this issue for GSSOC'22

[2022-03-01 11:57] aarushimaurya commented on #24
Okay, if it's a one-pager then it's not required.

[2022-03-01 11:57] #24 closed

[2022-03-01 12:10] MonarchGitHub commented on #13
yeah sure, on it.

[2022-03-01 12:30] Pradumnasaraf opened #26 "docs: add PR template"
### Chnages
- Adding a PR template
- Template path **`.github/PULL_REQUEST_TEMPLATE.md`**

### Template Preview (while creating a PR.)
![Screenshot from 2022-03-01 17-54-32](https://user-images.githubusercontent.com/51878265/156168840-66822d65-3e60-4026-8064-f967d66cf94b.png)

- Contribution towards GSsoc`22, Thank you

[2022-03-01 12:34] Pradumnasaraf opened #27 "docs: Adding issue templates"
### Chnages
- Adding Issue templates
- Template path **`.github/ISSUE_TEMPLATE`**

###Template Types
![Screenshot from 2022-03-01 18-02-15](https://user-images.githubusercontent.com/51878265/156169779-aa9bd5b2-94be-40db-9512-4e0ae9fc078a.png)

### Template Preview (while creating an issue - bug.)
![Screenshot from 2022-03-01 18-03-48](https://user-images.githubusercontent.com/51878265/156169861-53

[2022-03-01 12:51] Rishabh-Gaud commented on #25
I am Rishabh Gaud GSSOC'22 participant. I want to solve this issue

[2022-03-01 12:56] Rishabh-Gaud opened #28 "Light/Dark mode toggle button"
I am Rishabh Gaud GSSOC'22 participant. I want to work upon this issue

[2022-03-01 13:21] masterpranay1 opened #29 "BUG | Enter Website Directly accepts even a empty value"
TImer starts even when we enter nothing in the "Enter Website Directly" input fields...
I would like to work on this issue under GSSOC'22

[2022-03-01 13:21] #13 closed

[2022-03-01 13:24] Daksh777 commented on #27
This is already done in #22

[2022-03-01 13:24] #27 closed

[2022-03-01 13:26] Daksh777 commented on #29
To display errors, please use swal which we're using for other dialogues/popups.

[2022-03-01 13:26] Daksh777 commented on #19
To display errors, please use swal which we're using for other dialogues/popups @rajaditya28

[2022-03-01 13:27] Daksh777 commented on #28
This is already being worked on in #7

[2022-03-01 13:27] #28 closed

[2022-03-01 13:28] Daksh777 commented on #25
It is already assigned to @fleurdelis07, @Rishabh-Gaud

[2022-03-01 13:51] rashita79 opened #30 "Title: When user enters garbage value in custom time section label:GSSoC22"
### What happened?

When user enter any value in the custom section like if user enters "abc#3242" or "100000" then the website is prompting to enter the url to go for a break but instead it could have prompted an error message of "WRONG VALUE ENTERED"

### How can we reproduce this bug?

When invalid custom time is written then their should be a proper prompt for wrong or invalid input instead of

[2022-03-01 14:00] Girlwithasmile commented on #30
If no one has been assigned then I would like to work on it under gssoc'22

[2022-03-01 14:05] rashita79 commented on #30
I am willing to work on it as I raised that issue for GSSOC'2022

[2022-03-01 14:15] masterpranay1 commented on #29
I had corrected the issue and added a pull request.

[2022-03-01 14:55] rajaditya28 commented on #19
Okay !

[2022-03-01 16:12] #26 closed

[2022-03-01 16:22] Vrushali-anil-Chaudhari opened #34 "Title: Usage Report"
### Is your feature request related to a problem? Please describe.

If I watch the websites I would be needing to know the usage report of the websites I watched on that day and the time for which I binged the website. To keep a track of my productivity.

### Describe the solution you'd like.

I would like to create a separate tab in which I will display the viewed websites and the time for which

[2022-03-01 16:27] Daksh777 commented on #30
Duplicate of #4

[2022-03-01 16:27] #30 closed

[2022-03-01 19:03] AnishkaKesaria opened #35 "Title: Could have a button for stopping the break/pausing the break"
### Is your feature request related to a problem? Please describe.

i) Say that someone doesn't want to continue their break and feels that he/she must go back to work.
ii) Also if someone has decided to have a total of 5 mins break in the one hour task.

### Describe the solution you'd like.

i) A stop button could be added which redirects the user to the home page again.
ii) A pause button would

[2022-03-01 19:36] rajaditya28 commented on #19
I have made the Pull request #36 .
Kindly review it and merge the PR.
Thank You !!

[2022-03-02 04:00] Khushi-Mattu opened #39 "Title: A good footer would look good on the website"
### Is your feature request related to a problem? Please describe.

Without a footer, the website looks incomplete

### Describe the solution you'd like.

A good footer looks good and a website and makes it look complete.

### Describe alternatives you've considered.

The small headings in the footer might not necessary have links attached to it for now but atleast there can be a footer

### Add a

[2022-03-02 06:35] ankita-das-26 opened #41 "Background"
Hey @Daksh777
I  wanna work on the background to enhance the UI
I think it would look more good if it contains some sort of video template in it.

[2022-03-02 07:02] Siddhi-Mundada opened #42 "Title: Blog Page"
### Is your feature request related to a problem? Please describe.

For making a complete website I think blog page is very much important so that readers can thoroughly get to know our goals etc.

### Describe the solution you'd like.

I would like to add blog page containing blogs on procrastination and breaks with beautiful UI.

### Describe alternatives you've considered.

On main page itself

[2022-03-02 07:08] ankita-das-26 commented on #41
I am thinking to change the normal black background with a video related to tech or something which would suit better as a background and it would enhance the UI of the website

[2022-03-02 07:52] #41 closed

[2022-03-02 07:53] Daksh777 commented on #42
Thank you for your suggestion, however, I intend to keep the website short, simple and straight to the point so I don't think a blog will be required anytime soon.

[2022-03-02 07:53] #42 closed

[2022-03-02 09:05] vedsom opened #44 "Want to add a Navbar at the Top"
Hey @Daksh777  I am a GSSOC 2022 participant.
**I would like to add a navbar to your website**.
It will consist different sections like about, contact us, blogs etc.
Also want to add a
1) About us section
2) Meditation section which will consist some exercise which user can opt to relax instead visiting other sites
3) A game section which consist small games for entertainment
This will surely enha

[2022-03-02 09:31] itsAftabAlam opened #46 "update CONTRIBUTING.md"
hey I think there is a small error in git command. Below mentioned PR fixes this. Please review

[2022-03-02 10:24] Daksh777 commented on #44
Hi @vedsom
Thank you for the suggestions.
I do not wish to add anything extra than what the website is intended for. I want to keep the website simple and straight to the point.

[2022-03-02 10:24] #44 closed

[2022-03-02 10:26] #46 closed

[2022-03-02 10:40] roushandas02 opened #47 "Using Audio Alerts to make it look more Interactive"
### Is your feature request related to a problem? Please describe.

I have already added 2 desktop notifications for alerting user at 50% and 90% completion of time.
But there are 2 challenges in using desktop notification :-
(i) The user has to allow for receiving notification
(ii) It can only be used in secured sites (eg https://.....)

### Describe the solution you'd like.

A good solution to t

[2022-03-02 10:45] Daksh777 commented on #47
That's a good suggestion @roushandas02 but I don't think many people are fond of having websites making sounds without any notice/option
Could you perhaps put a gear/settings icon from https://fonts.google.com/icons in the top-right corner of the website which shows all the settings for the websites, like notifications, sounds, etc?
Let me know if that's possible.

[2022-03-02 11:24] roushandas02 commented on #47
You mean to say that on clicking that settings icon, options like notifications and sounds will be displayed and on clicking on these options, we can turn off or on the notification and voice alert being sent to the user ?

[2022-03-02 11:25] Daksh777 commented on #47
That's correct

[2022-03-02 11:36] roushandas02 commented on #47
Seems a little Challenging but I'll do it

[2022-03-02 11:49] Daksh777 commented on #47
I'll give you three weeks' time to solve all the issues you are assigned to, do not worry about the time.
Make sure you learn something new from this.

Also, please make sure to follow the colors, designs and fonts of the current website.

[2022-03-02 13:53] roushandas02 commented on #47
Okay , That would be fine. Thank you for assigning me this.

[2022-03-02 14:36] starashdeep opened #48 "Mazegame"
### Is your feature request related to a problem? Please describe.

Yes, it is related to the problem. Upcoming generation there is a very big problem in increasing IQ of infants. So, I have prepared this game using HTML, CSS and JavaScript virtually to enhance their IQ.

### Describe the solution you'd like.

The is a maze where children are forced to to use their IQ  and problem solving skills t

[2022-03-02 16:16] Daksh777 commented on #48
Hi @starashdeep
Thank you for the suggestion but I intend to keep the website as simple and straight to the point as possible so I will have to close this issue.

[2022-03-02 16:16] #48 closed

[2022-03-02 16:34] #19 closed

[2022-03-02 18:32] Vrushali-anil-Chaudhari commented on #34
I have explained my brief idea on the discord please check

[2022-03-02 22:24] TG922 opened #50 "Enhancement : Add custom scroll bar"
### Description

- I want to add custom scroll bar for this website.
- It can give your website a chance to stand out compared to the millions of websites using the browser default scrollbar.
- Please assign me on this issue under GSSOC '22.

[2022-03-03 07:00] Daksh777 commented on #50
HI @TG922
Thank you for the suggestion. However, I think there is currently no need for a custom scroll bar as the website is very simple and customising it even more would harm it's simplicity.

[2022-03-03 07:00] #50 closed

[2022-03-03 07:01] HarshKumarChoudary commented on #7
I would like to work on it. Please assign it to me.

[2022-03-03 07:26] Daksh777 commented on #7
@harshitab07 I'll assign this issue to you since @Jaideepgarlyal15 has not replied yet.
Please make sure to coordinate with @roushandas02 to add the dark mode/colourful mode toggle to the settings menu he is working on. You both may coordinate on the Discord server.

[2022-03-03 07:45] Daksh777 commented on #2
Hey @MeetaHaldar
Any progress on the issue?

[2022-03-03 07:54] #34 closed

[2022-03-03 09:49] monurao123456 commented on #35
@Daksh777
sir i want to work on this .
please assign it to me

[2022-03-03 11:41] ayush-agarwal-190 opened #51 "Title: Attractive_footer"
### Is your feature request related to a problem? Please describe.

Making the footer look more attractive(copyright and Contact details) by using css

### Describe the solution you'd like.

Using bright colors and changing the size of images will make it user friendly and attractive

### Describe alternatives you've considered.

I couldn't think of any other alternative better than this but I'll

[2022-03-03 11:43] ayush-agarwal-190 commented on #51
Can I work on this and make it look more attractive

[2022-03-03 11:46] monurao123456 commented on #9
@Daksh777
sir i also want to work on this issue please assign it to me also

[2022-03-03 11:59] ayush-agarwal-190 opened #52 "Change custom site popup to SweetAlert2"
### Is your feature request related to a problem? Please describe.

![bug q](https://user-images.githubusercontent.com/95439195/156560215-ddd2799c-39ba-42f2-80de-39bc315aca74.png)
The font size of the given box too small to read making it inconvenient to read and understand .

### Describe the solution you'd like.

Using Css we will make it user friendly and make it convenient to understand .

###

[2022-03-03 12:17] ayush-agarwal-190 opened #53 "Adding voice to suggest the user about time felt"
### Is your feature request related to a problem? Please describe.

If suppose a user is doing something important and suddenly we terminate the website the user will get a bad experience about the website .
Instead  we can have a reset button and a alert sound like "Your website will terminate soon"  to make the user aware that it website will terminate soon

### Describe the solution you'd like.

[2022-03-03 12:45] Daksh777 commented on #53
This is already being done in #47

[2022-03-03 12:45] #53 closed

[2022-03-03 12:46] Daksh777 commented on #9
It cannot be assigned to more than one person @monurao123456

[2022-03-03 12:51] Daksh777 commented on #51
Hi @ayush-agarwal-190
I intend to keep the footer simple and keep it the way it is. So, I'll have to close your issue, unfortunately.

[2022-03-03 12:51] #51 closed

[2022-03-03 13:01] Daksh777 commented on #52
I think the font size looks inconsistent so I don't think that looks good.
Would you instead like to work on this: You need to vertically and horizontally center that popup

[2022-03-03 13:45] MeetaHaldar commented on #2
@Daksh777  on the way

[2022-03-03 14:04] ayush-agarwal-190 commented on #52
Yes I would like to work on this ,please assign me the given task

[2022-03-03 16:47] rashita79 opened #54 "[Bug]: Go back option and user friendly label: gssoc 2022"
### Is your feature request related to a problem? Please describe.

clicking on the back button closes the website

### Describe the solution you'd like.

Back option and reloading option should be improved

### Describe alternatives you've considered.

timer display can also be improved

### Add any other context or screenshots about the feature request here.

_No response_

[2022-03-03 16:52] rashita79 opened #55 "Title: replacing 5sec redirecting timer with some qoutes or changing css of that page"
### Is your feature request related to a problem? Please describe.

Instead of showing 5 sec warning or response time for redirecting we can change the apperance of the page by adding motivational quotes reminding of their purpose of accesing that website.

### Describe the solution you'd like.

Changing user interface of that page and having things that would make the user understand that the aim

[2022-03-03 16:57] rashita79 opened #56 "Title: after closing the (break) website timer does not stop"
### Is your feature request related to a problem? Please describe.

after closing the (break) website timer does not stop , this will be an issue if a user wants to go to another website for a break with different time also the when a website is choosen then the next website is choosen with the same time break

### Describe the solution you'd like.

stopping the timer as soon as the website is clo

[2022-03-03 17:03] rashita79 opened #57 "Title: Adding a focus mode too and tracking working efficiency"
### Is your feature request related to a problem? Please describe.

we could keep track of the website the user was working on (efficient work not a break) and then we could report the focus mode like exactly how much time he worked on that

### Describe the solution you'd like.

giving user the option to set a time or track time for their productive work mode.

### Describe alternatives you've co

[2022-03-03 17:26] Saumya2391 opened #58 "I am new in development field,Can I contribute in this project? i know basics of html and css"
### Discussed in https://github.com/Daksh777/TakeABreak/discussions/12

<div type='discussions-op-text'>

<sup>Originally posted by **gigler** February 28, 2022</sup>
I want to contribute in this project bcz i think this project will help me in my personal use.
I do not know any tech used in it.Can you help me or guide in this so that I learn this tech for build or fixing some bug in this project.

[2022-03-04 02:54] MadhuSaini22 opened #60 "Title: Making Footer more Attractive"
### Is your feature request related to a problem? Please describe.

No, Making footer does not request related to a problem, It will be just for making website more Attractive.

### Describe the solution you'd like.

I will add some styling to the footer, add some links there.

### Describe alternatives you've considered.

Apply CSS and add some Quick links over there on footer.

### Add any other

[2022-03-04 02:56] MadhuSaini22 commented on #60
Hey @Daksh777  Could you assign me for this task as I'm a GSSOC'22 participant with GSSOC'22 label?

[2022-03-04 03:56] ayush-agarwal-190 commented on #60
I also wanted to discuss that part that the footer is not visible properly and required a Css touch .
![footer gssoc](https://user-images.githubusercontent.com/95439195/156696377-a8ba32a8-2d8a-4764-8c5f-6d6fe5ae6f45.png)

[2022-03-04 04:43] Daksh777 commented on #58
Yes, you can contribute to this project is you know JS, HTML and CSS.

[2022-03-04 04:43] #58 closed

[2022-03-04 04:47] Daksh777 commented on #57
Could you please elaborate more?
Do you want to make a mode that is opposite of taking breaks (i.e, setting up a timer for working and when the time is up, the tab closes?)

[2022-03-04 04:48] Daksh777 commented on #54
Can you please explain more?

[2022-03-04 04:49] Daksh777 commented on #56
Duplicate of #3

[2022-03-04 04:49] #56 closed

[2022-03-04 04:51] Daksh777 commented on #55
Good idea @rashita79
While we can keep the 5-second timer, we could also show some motivational quotes on the loading page instead of the purpose of the website.
You may start working on it. A function to fetch motivational quotes was implemented in #23 so you can make use of that.

[2022-03-04 05:06] Daksh777 commented on #3
Any update on this @vickyrules?

[2022-03-04 05:07] Daksh777 commented on #60
Hi @MadhuSaini22
Thank you for your suggestion. However, I wish to keep the website minimalistic and not style it too much, so I'll have to unfortunately close the issue.

[2022-03-04 05:07] #60 closed

[2022-03-04 05:14] vickyrules commented on #3
I need two more days because of some urgent college work

[2022-03-04 05:15] vickyrules commented on #3
I will redirect with you on Monday, with an update regarding the issue

[2022-03-04 08:10] Simran2337 opened #61 "Title: Create a button for manually ending the break"
### Is your feature request related to a problem? Please describe.

It's an enhancement feature.

### Describe the solution you'd like.

There can be a situation where the user has taken a break for 15 mins but then he comes back early and want to end the break manually, so there isn't such feature of ending the break manually.

This can be added.

So, please let me know, if this feature can be ad

[2022-03-04 08:35] Simran2337 opened #62 "Add backdrop to the time's up popup"
### What happened?

![image](https://user-images.githubusercontent.com/54612637/156728088-f5998d82-83d7-4398-9948-25bd24be17a3.png)

The card is overlapping with the Time's Up text

### How can we reproduce this bug?

It can fixed with proper margin and creating a separate div tag for the same

Let me know if I can work on it.

[2022-03-04 08:35] Daksh777 commented on #35
It is already assigned to @AnishkaKesaria, @monurao123456

[2022-03-04 08:36] Daksh777 commented on #61
Good idea @Simran2337
However, this is already being done in #35

[2022-03-04 08:36] #61 closed

[2022-03-04 08:39] Daksh777 commented on #62
@Simran2337 Could you instead add a backdrop/shadow to the time's up card?
(Here's a similar issue but for the custom time input popup: https://github.com/Daksh777/TakeABreak/issues/5)

[2022-03-04 08:41] Simran2337 opened #63 "Create a button for manual ending of the break"
### Is your feature request related to a problem? Please describe.

It's just an enhancement

### Describe the solution you'd like.

If someone takes a break of 15 mins and return early, then there should be a feature for manually ending the break.

Let me know, If I can work on it

[2022-03-04 08:42] Daksh777 commented on #63
This is already being done in https://github.com/Daksh777/TakeABreak/issues/35

[2022-03-04 08:42] #63 closed

[2022-03-04 08:44] Simran2337 commented on #62
@Daksh777  Yes this can be added as a backdrop as well

[2022-03-04 09:11] Daksh777 opened #64 "Migrate to sweet alert 2 instead of sweet alert 1"
We're currently using sweet alert 1 instead of the latest sweet alert 2. This needs to be updated to sweet alert 2 while making sure all the swal popups/alerts work as intended.

[2022-03-04 10:07] Simran2337 commented on #64
@Daksh777  this is what I came across while working with backdrop
So, All the Sweetalerts has to be updated right?

[2022-03-04 10:08] Simran2337 commented on #64
I can take up this task as a GSSOC'22 participant. Can you?

[2022-03-04 10:12] Daksh777 commented on #64
Yes, that's correct @Simran2337
You may take up this issue.

[2022-03-04 13:19] Payalsahb20220 commented on #3
@Daksh777  sir , if he is unable to solve this issue  in given time period then can you please assign it to me :)

[2022-03-04 13:22] Daksh777 commented on #3
Sure @Payalsahb20220

[2022-03-04 13:31] Daksh777 commented on #62
Closing because swal2 already does this.

[2022-03-04 13:31] #62 closed

[2022-03-04 13:33] Daksh777 commented on #5
Hey @ankitadam
I'm really sorry but I'll have to close this issue.
Since we've migrated to swal2, the backdrop is added to all popups by default so, unfortunately, I'll have to close this issue.

[2022-03-04 13:33] #5 closed

[2022-03-04 13:34] #4 closed

[2022-03-04 13:54] Daksh777 commented on #52
Hey @ayush-agarwal-190
We've migrated to sweet alert 2 and I'm thinking to make this popup a part of sweet alert 2 as well.
I'm really sorry but I'll have to ask you to work on doing that instead.

Here's some documentation that can help you out:
- https://sweetalert2.github.io/
- https://kepriprov.go.id/assets/plugins/sweetalert/

Please let me know if you can do it.

[2022-03-04 15:29] Simran2337 opened #68 "Enhancement of Delete button with confirmation"
### Is your feature request related to a problem? Please describe.

It's an enhancement

### Describe the solution you'd like.

While working on the issue, it was seen that, while deleting the sites that was added manually, it gets deleted without any confirmation message, which can be result of accidental click.

So, confirmation dialog before finally deleting should be done.
Also enhancement of

[2022-03-04 15:36] sonalgaud12 commented on #55
Hello @Daksh777, I want to work in this issues too.

[2022-03-04 16:27] Daksh777 commented on #68
Good suggestion @Simran2337
You may start working on it using swal2

[2022-03-04 16:28] Daksh777 commented on #55
Hey @sonalgaud12, this issue is already assigned to @rashita79

[2022-03-04 16:29] Simran2337 commented on #68
@Daksh777  surelyy!! Thankyou

[2022-03-04 16:30] rashita79 commented on #55
If its possible , we can do it together.

[2022-03-04 16:32] Daksh777 commented on #55
Sure, if you both would like to collaborate, you are allowed to do so but please note that points will only be awarded to the person who creates the PR.

[2022-03-04 19:28] ayush-agarwal-190 commented on #52
Yes

Yes I would Really Like to discuss it .And work on it .

[2022-03-05 02:03] mk-rana opened #73 "Display favicon of new website added on card"
**Is your feature request related to a problem? Please describe.**
It's an enhancement

**Describe the solution you'd like.**
While adding your own website, it is seen that there is no favicon/image displayed on the newly created card in most of the cases.
![image](https://user-images.githubusercontent.com/62178824/156863069-62cb3120-9a62-4ad3-b684-e90d0ceec366.png)

To fix this, a simple code can

[2022-03-05 06:14] Daksh777 commented on #73
That is already being done using clearbit API
https://github.com/Daksh777/TakeABreak/blob/main/scripts/main.js#L763-L764

[2022-03-05 06:38] #68 closed

[2022-03-05 06:38] #64 closed

[2022-03-05 08:39] mk-rana commented on #73
Then we can enhance it using Google S2 convertor, it can get almost all favicons. Read  here : [Google S2](https://www.labnol.org/internet/get-favicon-image-of-websites-with-google/4404/)

Or we can still improve using another faster api like Get Favicon API.

[2022-03-05 09:18] Daksh777 commented on #73
That'd be great, would you like to work on doing that @mk-rana?

[2022-03-05 10:23] Simran2337 opened #75 "Enhancement of Scroll Bar"
### Is your feature request related to a problem? Please describe.

The scroll bar looks odd at this website in such a way

### Describe the solution you'd like.

The scroll bar can be modified and look thin like standard websites

@Daksh777 if you find this useful you can assign it to me

![image](https://user-images.githubusercontent.com/54612637/156879190-715ac361-5f82-4c9a-9a22-472f18f23f9e.pn

[2022-03-05 10:37] Daksh777 commented on #75
Duplicate of https://github.com/Daksh777/TakeABreak/issues/50

[2022-03-05 10:37] #75 closed

[2022-03-05 12:44] gopi-png commented on #15
I had be glad to contribute.

[2022-03-05 13:21] shreyamedehal opened #76 "URL Validation for site link in 'Add Custom Site'"
### Is your feature request related to a problem? Please describe.

In the 'Add Custom Site' pop-up, URL validation is needed for the site link

![image](https://user-images.githubusercontent.com/82696347/156884501-4c8b4e6f-5d0d-48a7-9844-918aac561f8b.png)

### Describe the solution you'd like.

I would like to add URL validation using regex. Hence if an incorrect URL is entered, a message will be

[2022-03-05 13:59] mk-rana commented on #73
Yes I want work on this.

[2022-03-05 15:19] vickyrules commented on #3
Please assign it to  @Payalsahb20220

[2022-03-05 15:48] Daksh777 commented on #76
Good suggestion @shreyamedehal
You may go ahead and work on it.

[2022-03-05 15:49] Daksh777 commented on #15
@99896264 is already assigned to it but if you want, you both may work together and collaborate.
Note that the person who creates the PR gets the points and not the other person.

[2022-03-06 05:57] #76 closed

[2022-03-06 07:41] mahiiverse1 opened #78 "Improve UI of the timer when its ticking"
### Is your feature request related to a problem? Please describe.

So I'm using the website and I think instead of the screen showing "x minutes remaining!" I could improve the UI a bit and make it look more different like maybe a circular clock like graphics with the time ticking inside it and it changes the grey tone as the timer is closer to self destruct. I'm think of removing the "- minutes

[2022-03-06 09:42] Daksh777 commented on #78
Hey @mahiiverse1
Thank you for the suggestion. I believe that adding a clock will harm the simplicity and minimalism of the website.
However, something like this would be really nice:
![image](https://user-images.githubusercontent.com/43648146/156917731-c6d44f30-145c-4a6d-ba00-78cbc0ed8cef.png)
Can you do that?

[2022-03-06 09:50] #8 closed

[2022-03-06 09:50] #10 closed

[2022-03-06 09:50] #47 closed

[2022-03-06 10:00] Daksh777 opened #81 "Remember settings state using local storage"
Currently, the settings menu's toggles are reset back on reload. This can be fixed by adding their configuration in local storage.
![image](https://user-images.githubusercontent.com/43648146/156918304-9bea9bea-ab42-4881-9763-2e3e3a2f8071.png)

[2022-03-06 10:01] Simran2337 commented on #81
@Daksh777  I can take up this
Can you please assign it to me?

[2022-03-06 10:06] Simran2337 commented on #78
@Daksh777  I can take up this issue , if not taken
Thanks

[2022-03-06 10:07] Areebah03 opened #82 "Background Image"
### Is your feature request related to a problem? Please describe.

Improve the UI of website.

### Describe the solution you'd like.

I would like to add background image.

### Describe alternatives you've considered.

Background slider would look good.

### Add any other context or screenshots about the feature request here.

_No response_

[2022-03-06 10:15] roushandas02 commented on #9
Hey @Daksh777 ,
If @monurao123456 is interested in this issue, you can unassign me and assign him this issue.

[2022-03-06 10:38] mahiiverse1 commented on #78
hi actually my plan was to do something exactly like that maybe i explained
it a little different way but yeah i was planning to do exactly that

On Sun, Mar 6, 2022, 15:36 Simran Mittal ***@***.***> wrote:

[2022-03-06 13:16] pavneetkaurx opened #84 "ENHANCED UI"
### Is your feature request related to a problem? Please describe.

To enhance the user interface of the website by adding graphic involved background

### Describe the solution you'd like.

Using advance CSS would add a innovative background  to make it look catchy and presentable.

### Describe alternatives you've considered.

A live background with animation would be more presentable rather tha

[2022-03-06 13:17] pavneetkaurx commented on #3
Would wish to contribute in this issue

[2022-03-06 13:23] pavneetkaurx opened #85 "Timer Intimation"
### Is your feature request related to a problem? Please describe.

The timer should show a last countdown that the break is about to end and not just end abruptly .

### Describe the solution you'd like.

Adding a last 10 sec counter so that no shut downs are done abruptly and the user winds up the break things in time.

### Describe alternatives you've considered.

Adding a clock  or a basic cou

[2022-03-06 13:48] Payalsahb20220 commented on #3
@Daksh777 sir , I start working on this issue under GSSOC'22 , please don't assigned to anyone.

[2022-03-06 14:34] Khushi25pandey commented on #82
I would like to work on the task. Please assign it to me @Areebah03

[2022-03-06 14:35] Daksh777 commented on #85
Hi @pavneetkaurx
We've already implemented voice alerts for tackling this in #79

[2022-03-06 14:35] #85 closed

[2022-03-06 14:37] Daksh777 commented on #82
Hi, we're already adding a dark/colorful mode toggle already, I'll have to close this issue unfortunately.

[2022-03-06 14:37] #82 closed

[2022-03-06 14:41] Daksh777 commented on #9
Sure
@monurao123456 Would you like to work on this? Note that we'll be using the notification API

[2022-03-06 14:42] Daksh777 commented on #84
Duplicate of #82

[2022-03-06 14:42] #84 closed

[2022-03-06 15:26] mahiiverse1 commented on #78
hey thanks for assigning! just to confirm, whats the deadline to submit? is it a week?

[2022-03-06 16:10] Daksh777 commented on #78
Yes, it's a week @mahiiverse1

[2022-03-06 18:01] naugsss opened #86 "Changing CSS and adding motivational pictures"
### Is your feature request related to a problem? Please describe.

The CSS of the site is not that attractive!
Another problem is that user might take breaks again and again.. Like taking a break immediately when the his previous break ends up.

### Describe the solution you'd like.

We can actually improve the CSS of the site and different icons.. Moreover we can add some motivational pictures s

[2022-03-06 18:21] shivam123-dev opened #87 "Improve the UI of the webpage"
### Is your feature request related to a problem? Please describe.

Upon visiting the webpage there is a scrollbar which is unnecessary. Just want to remove the scrollbar

### Describe the solution you'd like.

Being a GSSOC'22 contributor, I would like to work under this issue.

### Describe alternatives you've considered.

Nil

### Add any other context or screenshots about the feature request h

[2022-03-06 19:07] Aniket-Gaurav commented on #87
As the person is going to take a break we can add a section or a website like pinterest, to take advantage of their break to find important information, random and fun facts.
A section for quotes and more like this.

I am a GSSoC 2022 contributor and i can across this idea about the productive of the user,
So i would like you to assign this to me, Please

[2022-03-07 05:01] Daksh777 commented on #87
Hi @shivam123-dev
The scroll bar shouldn't be removed because when users add custom websites, it starts to populate and a scroll bar is necessary.
And a scroll bar is also necessary for accessibility.

[2022-03-07 05:01] #87 closed

[2022-03-07 05:01] Daksh777 commented on #87
@Aniket-Gaurav Can you please explain your idea more in the GSSoC Discord server?

[2022-03-07 05:07] Aniket-Gaurav commented on #87
Which server I didn't get a server except GSSoS server

[2022-03-07 05:11] Daksh777 commented on #86
Hi @naugsss
I intend to keep the design the way it is to maintain its simplicity.

Talking about motivational pictures, what you can do is instead of using the motivational quotes in the "time's up" popup, you can use an API to fetch motivational quotes' images. Would you like to do that?

For the site blocking, we can add an option in the settings menu to do that. Would you like to do that?

[2022-03-07 05:12] Daksh777 commented on #87
@Aniket-Gaurav You must have received an invite on your email to join the GSSoC 2022 Discord server

[2022-03-07 05:15] Aniket-Gaurav commented on #87
Where is project channel
I couldn't find it
Please Do help.

On Mon, 7 Mar 2022, 10:42 am Daksh P. Jain, ***@***.***>
wrote:

[2022-03-07 08:39] nishant3721 commented on #81
@Daksh777 Can I work on it?

[2022-03-07 10:36] Daksh777 commented on #81
This issue's PR was approved and merged, I forgot to close it @nishant3721, sorry for that

[2022-03-07 10:36] #81 closed

[2022-03-07 10:49] Bhavesh66 commented on #86
Hi @Daksh777 i world like to work on this issue can you please assign it to me.

[2022-03-07 11:04] Daksh777 opened #89 "Browser extension"
I'm planning to make an extension to companion this website. Please drop all your suggestions in the comments.

[2022-03-07 11:09] Daksh777 commented on #86
If @naugsss is unable to do it, I'll assign it to you @Bhavesh66

[2022-03-07 11:12] Jagrutiti commented on #89
Do you have something like a dashboard in mind? Where we can show how many hours they were productive, and when they took a break.

This way we can show their best productive time?

I would like to take this up.

[2022-03-07 11:15] Daksh777 commented on #89
That sounds great @Jagrutiti, let me edit my comment and add it to the top.

[2022-03-07 11:17] Simran2337 commented on #89
@Daksh777 ready to band on with extension..

[2022-03-07 11:42] monurao123456 commented on #9
Thanks sir ,
  I start working on it.

[2022-03-07 14:51] J-Harsh opened #90 "Adding animation on the settings button."
### Is your feature request related to a problem? Please describe.

![image](https://user-images.githubusercontent.com/56508036/157057045-69fdc822-67f8-4e53-8a6a-85a955257d1a.png)
This looks a bit cluttered, i would like to change the icons (preferably with blue borders if you allow so)

![image](https://user-images.githubusercontent.com/56508036/157057410-75a9df36-8052-4dc5-b043-cd27d4a090d6.png)

[2022-03-07 14:55] naugsss commented on #86
@Daksh777 Yes, I'm ready and indeed I'll do it!!

[2022-03-07 15:13] nishant3721 commented on #90
@J-Harsh Can I work on it?

[2022-03-07 16:02] rajaditya28 commented on #89
@Daksh777 Kindly add me to the issue as well and I will put in my best efforts.

[2022-03-07 16:10] J-Harsh commented on #90
It is just a preference but i think smaller icons will look better on pc,i was also thinking to make icons look like this
![image](https://user-images.githubusercontent.com/56508036/157072382-7d68a137-7d6f-49cf-b153-d6b55f1fc839.png)
, though the icons look clean for mobile view.
For the latter part, yes i can make it happen.

[2022-03-07 16:52] J-Harsh opened #91 "No indication for user to see the time they have selected."
### Is your feature request related to a problem? Please describe.

So, when someone choses a time their is no indication for the user, regarding which pre-set time they selected, or the custom time they selected.
![image](https://user-images.githubusercontent.com/56508036/157079951-fc38d737-9861-453e-850b-0faf70286e82.png)
It just expand the cards.

### Describe the solution you'd like.

To highl

[2022-03-07 18:22] aaryahjolia commented on #91
I would like to work on this issue under GSSoC'22. I will add a line after this 4 boxes of time and before 'Enter Website directly' heading which will show something like - 'Selected Time : X minutes' or 'You selected X minutes'. I will also keep the colour scheme and UI in mind.

 I can also do that when user enters a custom time, I will change the inner text of 'Custom' box to the time user ente

[2022-03-07 19:02] J-Harsh commented on #91
Hey,i like your enthusiasm but i was the one who raised this issue, I don't think i will need any help in solving the issue, though i am open to collaboration if i think I need it. It's my issue and i will like to work on it. @Daksh777 can you assign me this issue

[2022-03-08 05:12] Aniket-Gaurav commented on #86
I would like to contribute to this issue, can you please assign to me

[2022-03-08 06:46] satyam1511 commented on #91
Hey , I would like to contribute on this issue. Please assign it to me.

[2022-03-08 07:12] Daksh777 commented on #86
It's already assigned to @naugsss, @Aniket-Gaurav

[2022-03-08 07:21] Daksh777 commented on #91
@J-Harsh I'll assign it to you.
Note that collaboration is allowed but points will only be awarded to the one who creates the PR.

Your initial idea is great, you can go ahead with it.

[2022-03-08 07:22] Daksh777 commented on #90
No, I think it'd be good to keep the icons the way they are currently.
You may work on the animation and hover/active issue.

[2022-03-08 07:44] J-Harsh commented on #90
should i change the title and description of this issue to just "change in animations for the settings button" ? It will make it easier for you to track ig

[2022-03-08 08:58] AKD-01 opened #92 "svg image cannot be fetched."
### What happened?

../assests/delete.svg cannot be fetched at line 988 in main.js in scripts folder.

### How can we reproduce this bug?

This bug can be reproduced by adding a custom time break. After adding the name and url, there a image-break icon appears at the top of the newly generated icon of the entered website instead of "../assets/delete.svg" .

[2022-03-08 09:47] Daksh777 commented on #92
I'm unable to reproduce the bug @AKD-01

[2022-03-08 09:47] Daksh777 commented on #90
Yes, please do that

[2022-03-08 10:56] mk-rana commented on #73
Hi Daksh
Just a short help needed

I have changed this current code:
![image](https://user-images.githubusercontent.com/62178824/157224006-e4e4d381-c617-4e30-be51-dd43ed2c5e18.png)

To:
![image](https://user-images.githubusercontent.com/62178824/157223712-cf30e3d2-dd7b-426a-9793-79b0e0a7e2b2.png)

And I am getting the following error on local server when a new card is created and the favicon is lo

[2022-03-08 13:10] Daksh777 commented on #73
Hey @mk-rana
Can you create a PR? I'll test it locally and let you know of a possible fix.

[2022-03-08 13:36] Khushbu-kumari-87090 opened #95 "add some nature image with motivational thoughts"
### Is your feature request related to a problem? Please describe.

somtime we so much depressed and then  and see the nature and motivational  thoughts we are so much inspire.

### Describe the solution you'd like.

i just want to create front end add some nature image and read the motivational line.

### Describe alternatives you've considered.

i have already mentioned create using front end us

[2022-03-08 14:59] Srishti2128 commented on #89
Once we have made the extension, a feature could be there where the user can add any site (that he/she has opened or is browsing) to the grid of sites he already has. It need not necessarily be a social networking site. Maybe some blog site from which he reads daily, some article, news, podcast etc.

A basic idea of how that could look like can be seen in below image

![Todoist-2-1088x570.png](htt

[2022-03-09 04:58] mk-rana commented on #73
PR created. Let me know what changes to be done. Thanks

[2022-03-09 06:28] Ashish4321-hub opened #97 "Make year dynamic"
### Is your feature request related to a problem? Please describe.

I want to add some changes to make year dynamic.

### Describe the solution you'd like.

I can add function which match the year to local computer and update year accordingly.

### Describe alternatives you've considered.

We can use api which compare live year to coded year.

### Add any other context or screenshots about the fea

[2022-03-09 07:44] Daksh777 commented on #97
Hi @Ashish4321-hub
I think you're in the wrong repo. That is my website which is in https://github.com/daksh777/website

[2022-03-09 07:55] #54 closed

[2022-03-09 08:00] Daksh777 commented on #95
Hi @Khushbu-kumari-87090
Someone is already working on implementing motivational images using an API so I'll have to close this issue.

[2022-03-09 08:00] #95 closed

[2022-03-09 09:18] Varshini-k-02 commented on #89
@Daksh777 Please add me as well

[2022-03-09 10:12] Daksh777 commented on #89
@Srishti2128 That sounds great, we can use that option to add to custom websites.

[2022-03-09 11:11] AKD-01 commented on #92
![image](https://user-images.githubusercontent.com/83454075/157430169-654da879-83ad-4042-8807-ab61ac5a7249.png)

the delete button on the top of the custom timing icon is appearing as a broken image link.
And please assign this issue as of gssoc

[2022-03-09 14:04] Daksh777 commented on #92
It works absolutely fine @AKD-01
![image](https://user-images.githubusercontent.com/43648146/157457173-d5c7cf22-00c9-4b5d-a183-1cf8b285e411.png)

[2022-03-09 16:26] monurao123456 commented on #9
@Daksh777
Sir i am facing error to pushing code to GitHub ,sir please help

[2022-03-10 04:28] kalashvasaniya commented on #89
Countdown Extension - its great idea Pls. assign this to me!

[2022-03-10 05:07] Daksh777 commented on #9
Please ping me on the GSSoC Discord server @monurao123456

[2022-03-10 05:11] Daksh777 commented on #89
What do you mean by countdown extension @kalashvasaniya?

[2022-03-10 05:27] kalashvasaniya commented on #89
![image](https://user-images.githubusercontent.com/88212870/157595508-9f58d37f-3726-41ee-aa12-d1dbb82b2f0c.png)

like this!

[2022-03-10 05:39] Jagrutiti commented on #89
@kalashvasaniya countdown is already shown on the website.

Do you mean to change the UI?

[2022-03-10 06:43] SachinMittal1766 opened #99 "Countdown UI"
### Is your feature request related to a problem? Please describe.

The UI of timer is very simple.

### Describe the solution you'd like.

I think we can modify it to some good UI. I am attaching a video for the same.

https://user-images.githubusercontent.com/82721772/157603349-55f98e58-8769-4504-b30b-cfdc27ce8ea1.mp4

### Describe alternatives you've considered.

One more UI which i think will

[2022-03-10 06:44] kalashvasaniya commented on #89
Yes if it possible

[2022-03-10 08:55] Daksh777 commented on #99
This is already being done in #78

[2022-03-10 08:55] #99 closed

[2022-03-10 08:55] Daksh777 commented on #89
It's already being done in #78 @kalashvasaniya

[2022-03-10 08:57] Daksh777 commented on #2
Hey @MeetaHaldar
It's been 1 week, have you worked on it?

[2022-03-10 08:59] Daksh777 commented on #3
Any updates @Payalsahb20220?

[2022-03-10 09:37] Daksh777 commented on #15
Any updates @99896264?
It's been more than 7 days

[2022-03-10 09:38] Daksh777 commented on #16
Any update on this @99896264?
It's been more than 7 days

[2022-03-10 09:39] Daksh777 commented on #25
Any updates on this @fleurdelis07?
It's been more than 7 days

[2022-03-10 09:39] Daksh777 commented on #35
Any updates on this @AnishkaKesaria ?
It's been more than 7 days

[2022-03-10 09:40] Daksh777 commented on #52
Any updates on this @ayush-agarwal-190?
It's been more than 7 days

[2022-03-10 10:12] kalashvasaniya opened #100 "UI Enhancement of Main Page & adding hover effect."
### Is your feature request related to a problem? Please describe.

UI Enhancement of Main Page & adding hover effect.

### Describe the solution you'd like.

I Make This Project With the help of HTML, CSS & JavaScript.

### Describe alternatives you've considered.

The CSS & JavaScript Code are Available in very well mannered! & Easy to understand!

### Add any other context or screenshots about

[2022-03-10 10:35] Daksh777 commented on #100
Please explain more on what you're going to do

[2022-03-10 10:50] 99896264 commented on #16
I couldn't get to know correctly how the overlay/ shadow could be operated
with the ok button in sweetalert format, the rest is done. Currently, my
mid semesters are going on. So not able to give much time.

On Thu, Mar 10, 2022 at 3:08 PM Daksh P. Jain ***@***.***>
wrote:

[2022-03-10 10:51] kalashvasaniya commented on #100
Hover effect
shadow effet
Font ig
UI another level
& more if needed

[2022-03-10 10:54] 99896264 commented on #15
Sorry, I was not able to sort a significant method. Right now, my mid-semester is going on, so I'm not able to give much time to it.

[2022-03-10 11:24] Payalsahb20220 commented on #3
Sorry sir , i'm little bit busy bcz i 'm going to my college campus .
But anyway i will give u update in 2 days :).

On Thu, Mar 10, 2022, 2:29 PM Daksh P. Jain ***@***.***>
wrote:

[2022-03-10 12:56] SachinMittal1766 opened #101 "Add "End Break" Button"
### Is your feature request related to a problem? Please describe.

If someone set timer of 10 min but want to end his/her break time in between. So we should provide a "End Break" button when timer is running.

### Describe the solution you'd like.

I am thinking of providing a "End Break" button when timer will be running. So that if a person wants he/she can get back to work. I am GSSOC Contrib

[2022-03-10 13:36] Daksh777 commented on #16
Please read the documentation at https://sweetalert2.github.io/
I hope that will make things clear.

[2022-03-10 13:37] Daksh777 commented on #101
Duplicate of #35

[2022-03-10 13:37] #101 closed

[2022-03-10 13:43] SachinMittal1766 commented on #35
Hey @Daksh777, It is more than 7 days. So if they are not working. Pls assign it to me.

[2022-03-10 13:48] Daksh777 commented on #100
Please go into more detail.
Where will you add the hover effects? Where will you add the shadow effects? What do you mean by "UI another level"?
I intend to keep the UI and fonts as minimalistic as they are right now

[2022-03-10 13:49] Daksh777 commented on #35
If they do not reply by tomorrow, I'll assign it to you @SachinMittal1766

[2022-03-10 14:21] 99896264 commented on #16
Okay.Thank you.

[2022-03-10 17:16] codervivek5 commented on #16
I want to work on this issue plz assigned to me....

[2022-03-11 10:03] #90 closed

[2022-03-11 10:08] Daksh777 commented on #100
I don't think none of it is required, I'll close this issue.

[2022-03-11 10:08] #100 closed

[2022-03-11 14:02] J-Harsh commented on #91
@Daksh777 you can close this issue now

[2022-03-11 14:20] #91 closed

[2022-03-11 16:14] #97 closed

[2022-03-11 17:11] Rishabh-Gaud commented on #25
Can I proceed @Daksh777

[2022-03-12 03:20] SachinMittal1766 commented on #35
Any Updates @Daksh777 ??

[2022-03-12 07:46] Divyansh1315 opened #102 "Logo"
Whenever a user visits a website it looks for a  logo.

Take A Break works as a technique to tackle procrastination.

A logo above Take A Break would look nice  according to me.

![image](https://user-images.githubusercontent.com/85311608/158008995-9c7fda89-a46d-4e70-83b3-77a8e927aac7.png)

I've created the logo in multiple backgrounds in order to make it look nice with different backgrounds.

[2022-03-12 13:09] Daksh777 commented on #102
We already have a logo which can be seen in the readme, I can send you that and you can add it to the website above the title

[2022-03-12 13:10] Daksh777 commented on #35
You may work on it @SachinMittal1766

[2022-03-12 13:27] Saurabh-Suchak commented on #102
hey, I would like to work on this.

[2022-03-12 14:03] Saurabh-Suchak commented on #9
hey @monurao123456 , if you want I would like to help you in the implementation of this feature.

[2022-03-12 14:06] Saurabh-Suchak opened #104 "Having a time up emoji"
Having a time up emoji in place of a tick after the timer countdown finishes would make it look even better. If this change is approved, I would like to work on it.

[2022-03-12 14:39] shreyamedehal commented on #89
Feature suggestion: we can block a website, and unblock it through the browser extension whenever required, this would help in increasing the user productivity.

[2022-03-12 14:51] Divyansh1315 commented on #102
Okkay you can send me that file on Discord DV#3650

[2022-03-12 14:52] Divyansh1315 commented on #102
Hi Saurabh, I'm already working on this issue. You can take any other issue and create one of yours.
Keep contributing!!

[2022-03-12 15:44] Saurabh-Suchak commented on #102
yeah but since no one was assigned this issue, I thought to contribute on this one .

[2022-03-13 05:40] Daksh777 commented on #104
Can you please explain more? I didn't get what you mean.

[2022-03-13 06:06] Saurabh-Suchak commented on #104
After the countdown ends, there is a pop up with a motivational quote. Above it there is a tick ✅ logo, I am asking to replace that logo with a time up emoji.

[2022-03-13 06:53] Daksh777 commented on #104
Sounds good, but I don't think that's possible since that icon is from sweetalert2 and it can't be modified.

[2022-03-13 07:05] Saurabh-Suchak commented on #104
then I guess the whole pop up window needs to be changed for it.

[2022-03-13 07:50] Daksh777 commented on #104
I don't think we should do that then, I'll have to close this, unfortunately.

[2022-03-13 07:50] #104 closed

[2022-03-13 08:25] shreyamedehal commented on #89
@Daksh777 Kindly add me to the issue as well

[2022-03-13 09:00] mahiiverse1 commented on #78
@Daksh777 hey so i started working on this about 2 days ago and im having issues with trying to implement it, im also new to this so maybe thats why too, everytime i implement it, it also messes up the main screen that says select a timer so im having troubles implementing this

[2022-03-13 09:41] Daksh777 commented on #78
Sure @mahiiverse1 but note that the person who creates the PR will get the points and not the other one.
If anyone still wants to collaborate with you, they may do it.

[2022-03-13 10:21] mahiiverse1 commented on #78
Okay sure thats fine as long as i can learn this from them

[2022-03-13 10:48] Daksh777 commented on #78
@Simran2337 would you like to join @mahiiverse1?

[2022-03-13 15:55] monurao123456 commented on #9
Sure @Saurabh-Suchak

[2022-03-14 05:10] Kumar-laxmi opened #105 "Apply some small tilting effects on cards"
### Is your feature request related to a problem? Please describe.

![image](https://user-images.githubusercontent.com/76027425/158108279-e32cfdc3-f0af-4244-8dcf-b01b07f5b8d5.png)

The cards specifying timer could be made more cool if we apply some JS functions to improve tilting effect with minor tilting.

It would look really nice!

### Describe the solution you'd like.

To do this I will use Va

[2022-03-14 06:42] Daksh777 commented on #105
Thank you for your suggestion @Kumar-laxmi
I believe that this will harm the minimalism and simplicity of the website so I'll have to close this.

[2022-03-14 06:42] #105 closed

[2022-03-15 20:12] Divyansh1315 commented on #102
I'm facing an issue while adding the logo. Logo is not visible whereas if I use any other image instead of logo that is visible.

![2022-03-16 01_41_25-Take a Break - Self-Destructing Tabs](https://user-images.githubusercontent.com/85311608/158463190-820076cb-7007-490d-a9a7-3e9752d46b3e.png)

![2022-03-16 01_38_15-Take a Break - Self-Destructing Tabs](https://user-images.githubusercontent.com/8531

[2022-03-16 07:02] Ashwani132003 commented on #25
Hey @Daksh777 I changed min to minutes.

![Screenshot (1174)](https://user-images.githubusercontent.com/76273539/158533705-f0c0be9a-8b8a-41bf-a21c-92a011ecfe5d.png)

Can you merge it ?

[2022-03-16 07:08] Ashwani132003 commented on #25
Oh sorry, I see now you want them to abbreviate, let me change them.

[2022-03-16 07:09] Ashwani132003 commented on #25
IS this one Okay?
![image](https://user-images.githubusercontent.com/76273539/158535547-8bde8dc0-9a70-41b0-b59d-892686dccc50.png)

[2022-03-16 07:52] SwarupKMondal opened #107 "Build a Cool calculator"
**Create a Calculator**

**Tech Used**
1. Html
2. Css
3. Javascript

I am a GSSoC'22 Participant.
I want to work in this issue.
Please assign this issue to me.

[2022-03-16 10:51] Daksh777 commented on #25
@Rishabh-Gaud Any updates?

[2022-03-16 10:52] Daksh777 commented on #107
Hi @SwarupKMondal
I don't see a need of having a calculator in a productivity website so I'll close this issue.

[2022-03-16 11:04] Rishabh-Gaud commented on #25
Thank you for asking Sir, I have to go college urgently  that's reason I'm late

[2022-03-16 12:57] Daksh777 commented on #25
No worries @Rishabh-Gaud

[2022-03-16 14:53] myhacktech commented on #16
hello,can i contribute to this issue?

[2022-03-16 21:27] tasneemahmed123 commented on #9
Hi, I want to work on this feature , can you assign to me please

[2022-03-17 05:33] Rishabh-Gaud commented on #25
I resolved the issue please checkout.

[2022-03-17 07:13] Daksh777 commented on #9
It is already to @monurao123456, @tasneemahmed123

[2022-03-17 07:14] Daksh777 commented on #16
It is already assigned to @99896264, @myhacktech

[2022-03-17 16:10] AKD-01 commented on #92
## Please check this once
https://user-images.githubusercontent.com/83454075/158843898-5d41d3d3-4034-4f39-ac99-d58a2a21d64d.mp4

[2022-03-19 06:30] Daksh777 commented on #92
Can you please check the network tab? There should be an error there.

[2022-03-19 13:50] kheya19 opened #110 "Add a light-dark mode"
I can add a light-dark mode feature to your website

[2022-03-19 14:40] Ashit743 opened #111 "User Friendly Inputs"
### Is your feature request related to a problem? Please describe.

Add site link or Enter website directly can be user friendly to take user inputs, for example, if the user input is facebook then we can add 'https//:' prefix and '.com' suffix

### Describe the solution you'd like.

using regex

### Describe alternatives you've considered.

considered auto-suggestion feature for sites if users en

[2022-03-19 14:51] HafsaZahran1 commented on #3
Hello @Daksh777 ,
If this bug still exist, can I start searching and working on how to solve it please?

[2022-03-19 16:31] RavishaNewase opened #112 "Adding inspirational time management quotes section."
### Is your feature request related to a problem? Please describe.

The features of this website are related to time management. So It will create more impact if we add inspirational quotes about time management.

### Describe the solution you'd like.

I will add a section which will generate random quote only related to time management before visiting to the new website.

### Describe alternative

[2022-03-19 16:32] RavishaNewase commented on #112
Please assign me this issue under GSSoC'22.

[2022-03-20 04:15] Daksh777 commented on #112
Please explain more how you'll go about this @RavishaNewase

[2022-03-20 04:16] Daksh777 commented on #3
@Payalsahb20220 If you're not able to fix this, I'll assign this to @pavneetkaurx
@HafsaZahran1 I can only assign it to you if @Payalsahb20220 and @pavneetkaurx are not able to fix this.

[2022-03-20 04:18] Daksh777 commented on #111
@Ashit743 that is exactly why we have quick links below the direct input box, I don't think we will need something like that.

[2022-03-20 04:18] #111 closed

[2022-03-20 04:20] Daksh777 commented on #110
It is already being worked on in #59

[2022-03-20 04:20] #110 closed

[2022-03-20 07:33] Ashit743 commented on #111
@Daksh777  check this out
![Screenshot (136)](https://user-images.githubusercontent.com/63945407/159152672-c7230748-baae-43d6-a355-b19c5e103b3a.png)
![Screenshot (137)](https://user-images.githubusercontent.com/63945407/159152707-9065e231-b0e5-4a49-beb9-a93089d3d7c1.png)

[2022-03-20 09:27] Daksh777 commented on #111
Okay, can you explain how you'll go about doing this?

[2022-03-20 09:49] Ashit743 commented on #111
@Daksh777  I have checked the main.js file function customUrl() where you have checked for 'https://' , and if not found added one similarly  I will try to check if it has a .com at the end and if not I will add one

[2022-03-20 10:01] Daksh777 commented on #111
But that won't work with websites that do not use .com and use something else like .org

[2022-03-20 10:20] Ashit743 commented on #111
Interesting case, I will try to use [Url constructor](https://developer.mozilla.org/en-US/docs/Web/API/URL) to catch errors
or other methods mentioned in this [forum](https://stackoverflow.com/questions/5717093/check-if-a-javascript-string-is-a-url)

[2022-03-20 10:51] Rishita489 commented on #3
Hello @Daksh777  ,
Can I start searching and working on this issue  please ?

[2022-03-20 11:12] Daksh777 commented on #3
@Rishita489 It is already assigned to @Payalsahb20220

[2022-03-20 12:48] Daksh777 commented on #111
I think that would be a lot of unnecessary work and it's not worth it.

[2022-03-20 14:47] rashi1405 commented on #16
can you assign me this task?

[2022-03-20 15:53] Ashit743 commented on #111
Ok

[2022-03-20 16:09] Rishita489 commented on #2
@Daksh777  , I would like to work on the issue . Would you assign it to me ?

[2022-03-20 16:10] Rishita489 commented on #2
I am GSSOC'22 contributor .

[2022-03-20 16:35] Daksh777 commented on #2
Sure @Rishita489

[2022-03-20 16:35] Daksh777 commented on #2
Please explain a little on how you'll go about it @Rishita489

[2022-03-20 17:40] priyanshusingh305 commented on #7
I would like to work on this issue

[2022-03-21 05:54] Daksh777 commented on #7
It is already assigned to @harshitab07

[2022-03-21 16:49] RavishaNewase commented on #112
After selecting the time to take the break, a one more section will be displayed only for specific time say 5sec, in which a time management quote will be displayed. I can add this section between time selection section and visit website section.

[2022-03-21 21:42] Rishita489 commented on #2
There will be a limit on the number of websites that can be opened with one instance of the app . We will start a different timer whenever a new site is opened on the same instance and after all timers are completed  , time's up go back to work will be displayed .

[2022-03-22 03:42] Sakshi-1701 commented on #102
Hello @Daksh777
I would love to work on this.
It would be great if you could assign this issue to me.

[2022-03-22 04:03] Daksh777 commented on #102
It's already assigned to @Divyansh1315, @Sakshi-1701

[2022-03-22 08:03] AKD-01 commented on #92
changing "../assets/delete.svg" in img src at line 1003 and 1007 in main.js does the work. Should I create a Pull Request?

[2022-03-22 08:18] Daksh777 commented on #92
Yes, sure @AKD-01

[2022-03-22 08:23] Daksh777 commented on #2
Sounds good, you may start working @Rishita489

[2022-03-22 08:25] Daksh777 commented on #112
This is already being worked on in #109

[2022-03-22 08:41] AKD-01 commented on #92
created pull request

[2022-03-22 08:41] #92 closed

[2022-03-22 18:05] PrashantVIT1 opened #115 "Add Animation to buttons"
### Is your feature request related to a problem? Please describe.

This project is related to a person who is looking for some pleasing content, but the buttons are not that interactive.

### Describe the solution you'd like.

I want to add some good hovering animation effects like Popping Bubbles Hover Effect

### Describe alternatives you've considered.

Popping Bubbles Hover Effect is an inter

[2022-03-22 18:05] PrashantVIT1 commented on #115
/assign

[2022-03-23 07:23] Daksh777 commented on #115
I intend to keep the website minimalistic so I don't think any animations would be required, thank you for your suggestion though.

[2022-03-23 07:23] #115 closed

[2022-03-23 08:21] #112 closed

[2022-03-23 08:22] Daksh777 commented on #3
Any updates @Payalsahb20220?

[2022-03-23 08:24] Daksh777 commented on #7
@adi2002vicky Would you like to work on this?

[2022-03-23 08:25] #57 closed

[2022-03-23 12:00] kalashvasaniya commented on #78
Can I try to improve!

[2022-03-23 18:28] priyanshi1232 commented on #52
Hey! Can I work on this under GSSOC'22 ?

[2022-03-24 04:12] Daksh777 commented on #52
Sure @priyanshi1232

[2022-03-24 10:21] Daksh777 commented on #3
@pavneetkaurx Would you like to work on this?

[2022-03-24 11:10] Priyanshi662 commented on #52
that was my second id please assign this issue to this id

[2022-03-25 04:06] Daksh777 commented on #3
@HafsaZahran1 Would you like to work on this?

[2022-03-25 08:44] Rishita489 commented on #3
hey @Daksh777  , can you assign this issue to me . I can work on it as it can be a subpart of the other issue you assigned to me .

[2022-03-25 11:37] HafsaZahran1 commented on #3
Yes, please .

[2022-03-25 12:10] Daksh777 commented on #3
Sorry @Rishita489, since @HafsaZahran1 had asked to be assigned first, I'll have to assign it to them.

[2022-03-25 19:43] connectnitesh commented on #7
Hi I would love to work on this issue
I have previously done this kind of work
I play with CSS.
Please assign it to me !
@Daksh777

[2022-03-26 14:40] Daksh777 commented on #7
Sure @connectnitesh
Make sure to add a toggle in the settings

[2022-03-26 20:03] AsmaIbrahimButt opened #116 "Enhance the buttons styling"
### Is your feature request related to a problem? Please describe.

For example when I point the different button it does not change the state of the button it looks the same as it is in this way user cannot easily gets that he or she presses the button or not .Therefore I wan to add some hove effect and enhance its styling.

### Describe the solution you'd like.

Improve styling of buttons

### D

[2022-03-27 05:44] Daksh777 commented on #116
A hover effect is already present, though it's a bit subtle.
![image](https://user-images.githubusercontent.com/43648146/160268465-21cf1186-2170-48ce-ab8e-ce8d03ddfb6c.png)

[2022-03-27 05:44] #116 closed

[2022-03-27 07:21] Ranjana550 opened #117 "Quote"
### Is your feature request related to a problem? Please describe.

No, it is not related to a problem. It would be one of the features of the website.

### Describe the solution you'd like.

Can we add a quotes section for motivation?

### Describe alternatives you've considered.

Display the quote of the day.

### Add any other context or screenshots about the feature request here.

_No response

[2022-03-27 15:04] HafsaZahran1 commented on #3
Hello,
I'm working on the bug and I found that we might add an event tracker so when the user colse the tab it will clear the countdown timer.

**.addEventListener('beforeunload', function(){clearInterval(setInt)});**

But I'm stack at specifying the element name or class to set to be tracked.
Is there any idea or resources that might help?

[2022-03-27 15:58] Daksh777 commented on #117
I don't think this needs to be done in another section, we already have quotes in the time's up popup and the loading page.

[2022-03-27 15:58] #117 closed

[2022-03-27 16:30] Daksh777 commented on #3
There is already code for it, but I'm not sure why it's not working. Check this:

https://github.com/Daksh777/TakeABreak/blob/main/scripts/main.js#L738-L764

[2022-03-28 19:22] vickyrules opened #118 "Add a numerical value input checker on custom timer."
### What happened?

The custom timer input sets  timer to 0 when someone insert alphabetical characters.

issues  reported.
1. custom timer taking alphabets as input ,
2.  the custom time should be greater than 0.

### How can we reproduce this bug?

1.click on  custom timer tab .
2. insert any alphabetic charaters.
3.  it sets timer to 0

[2022-03-28 19:25] vickyrules commented on #3
hwt @Daksh777 , i'm ready to contribute again now  .  I have finished all my personal work.
please assign it to me again if he is unable to resolve.
i have solved it already and ready to make a pr.

[2022-03-28 19:27] vickyrules commented on #118
@Daksh777
if you found the issues relevant please assign it to me,

[2022-03-29 14:45] Anjuli08 commented on #78
I would like to work on this issue

[2022-03-29 16:12] HafsaZahran1 commented on #3
@Daksh777
I noticed that there is no clearInterval() function in function d(), so I tried to place clearInterval() function to stop the countdown timer but still the bug exist.
I'm still searching and learning about js so it taking some time.

[2022-03-30 03:38] Daksh777 commented on #78
Any updates @kalashvasaniya
Should I assign it to @Anjuli08 instead?

[2022-03-30 03:40] kalashvasaniya commented on #78
Sorry For delay but my exam is going on So ya assign to someone else :)

[2022-03-30 03:45] Daksh777 commented on #3
No worries @HafsaZahran1, you have 7 days time to work on the issue.
I'll also have a look when I'm free and I'll help you out.

[2022-03-30 04:43] #118 closed

[2022-03-31 15:08] Daksh777 commented on #102
Any updates @Divyansh1315?

[2022-03-31 15:12] Divyansh1315 commented on #102
Sorry, @Daksh777  I was busy with academics these days...I'll make a Pull request by morning.

[2022-03-31 15:20] Daksh777 commented on #102
Sure @Divyansh1315

[2022-03-31 21:05] vickyrules commented on #3
https://github.com/Daksh777/TakeABreak/blob/68c922a52ddaab0a1edde3731975804c3570e045/scripts/main.js#L738-L764

Hey @Daksh777 will you illustrate what you really want to do when user clicks on  [ confirmButtonText: "Keep Browsing!"]

And i have successfully Stopped the timer and the timeout alert as well when user closed the window manually .

[2022-04-01 08:10] Daksh777 commented on #3
No worries @HafsaZahran1

@vickyrules If the user clicks on "Keep Browsing" button, then we will pause the timer and resume it again when the user selects another website. If "I'm done" is selected, then we just end the break.

[2022-04-01 11:46] Asttttha opened #120 "Ball-Game"
this a game that i have been working lately, there comes random holes, through which the ball is supposed to get passed, otherwise you lose.
i've attached a snapshot of it below, and this is my project link.

[(https://github.com/Asttttha/game)](https://asttttha.github.io/ball-game/)

please assign me.

![image_2022-03-03_204725](https://user-images.githubusercontent.com/95849912/156593965-4d48a96

[2022-04-01 11:59] Daksh777 commented on #120
Hi @Asttttha
I think this does not align with the general idea of the website so I'll have to close this issue.

[2022-04-01 11:59] #120 closed

[2022-04-01 18:28] vickyrules commented on #3
Hey @Daksh777 please assign this to me . I solved this issue and ready to make PR.

[2022-04-01 19:36] vickyrules commented on #3
check it out here.
https://vickyrules.github.io/TakeABreak/

[2022-04-02 00:28] Yasshu55 opened #121 "Add Hover effects to minutes buttons"
### Is your feature request related to a problem? Please describe.

When we bring our mouse to 5,10,15 and custom minutes buttons there is no Hovering Effect.

### Describe the solution you'd like.

I would like to add the Hover effect to these buttons whenever we move our mouse to it.

### Describe alternatives you've considered.

I can make the Hover Effect However the Mentors want me to or I wo

[2022-04-02 03:26] Daksh777 commented on #3
Really well done @vickyrules
One change needs to be made: When you click on the "Keep browsing" button and select a website, the timer shouldn't start until the website is loaded (like it is by default)

[2022-04-02 03:28] Daksh777 commented on #121
The hover effect does exist, however, it's only a bit subtle
![image](https://user-images.githubusercontent.com/43648146/161364195-edb77feb-53b2-4f5b-9cd8-16390d7de330.png)

I don't think a change would be required for this.

[2022-04-02 03:28] #121 closed

[2022-04-02 04:59] vickyrules commented on #3
@Daksh777
done 😊.

[2022-04-02 07:38] #3 closed

[2022-04-02 08:30] vickyrules commented on #35
@Daksh777 if the issue is still exist please assign it to me.

[2022-04-02 08:34] vickyrules commented on #9
@Daksh777 if still exist assign it to me

[2022-04-02 09:28] Daksh777 commented on #16
@codervivek5 @myhacktech @rashi1405 Would anyone of you like to work on this?

[2022-04-02 09:30] Phani-22 commented on #55
@Daksh777 I would like to work on this issue, please assign this to me.

[2022-04-02 09:32] rashi1405 commented on #16
yes sure sir !! @Daksh777

[2022-04-02 09:37] Daksh777 commented on #16
Make sure to use the sweetalert2 function for this like I described above @rashi1405

[2022-04-02 09:38] #15 closed

[2022-04-02 09:38] #25 closed

[2022-04-02 09:41] Daksh777 commented on #2
Any updates @Rishita489?

[2022-04-02 09:42] Daksh777 commented on #52
Any updates @Priyanshi662?

[2022-04-02 09:48] Rishita489 commented on #2
Hey @Daksh777 , I am still working on it  .

[2022-04-02 13:45] vickyrules commented on #35
@Daksh777  is there any pre -implemented code block for this feature or i have to make it from scratch .

[2022-04-02 14:50] Aniket-Gaurav commented on #86
Hi I have done the changes but couldn't find how to push to forked issue and i have also send the link of my updated fork

[2022-04-02 14:52] Aniket-Gaurav commented on #86
Hey I have send you the link of my updated fork and i didn't received any
update from your side and you have closed the issue.

On Sat, Apr 2, 2022 at 3:14 PM Daksh P. Jain ***@***.***>
wrote:

[2022-04-02 15:05] ishabhthakur commented on #102
hey @Daksh777  i want to contribute to your project please assign me this issue!! under GSSOC'22 !!!
I have new solution regarding this issues

[2022-04-02 15:16] Daksh777 commented on #102
If @Divyansh1315 is unable to do it, I'll assign it to you

[2022-04-02 15:17] Daksh777 commented on #86
Please check the Discord messages @Aniket-Gaurav
I have linked a tutorial for GitHub and Git

[2022-04-02 15:18] Daksh777 commented on #35
No @vickyrules, no pre-implemented code for any of these issues.

[2022-04-02 15:26] Divyansh1315 commented on #102
Hi...I've added the logo should I move ahead to make the PR?

![2022-04-02 20_54_30-](https://user-images.githubusercontent.com/85311608/161390028-8d9ed947-5338-4f5e-8fd5-814bf3496362.png)
![2022-04-02 20_55_02-Take a Break - Self-Destructing Tabs](https://user-images.githubusercontent.com/85311608/161390035-d5159e48-d7e8-4c41-8ac3-01e1af267452.png)

[2022-04-02 16:12] Daksh777 commented on #102
Yes @Divyansh1315

[2022-04-02 16:20] vickyrules commented on #35
@Daksh777
what is this code doing.
https://github.com/Daksh777/TakeABreak/blob/68c922a52ddaab0a1edde3731975804c3570e045/scripts/main.js#L873-L908

[2022-04-02 16:27] vickyrules commented on #35
@Daksh777  where you want to put buttons to stop and pause,

[2022-04-02 16:43] vickyrules opened #123 "user confirmation(wants to leave or not ) when user refresh the home page before timeout."
### Is your feature request related to a problem? Please describe.

If the user accidentally refreshes the home page it ends the break and closes all windows.

,

### Describe the solution you'd like.

Feature required:
wants a pop-up confirmation [ like -> Want to leave (Yes /no)  ] screen or alert when user refreshes the home page before the break time ends

### Describe alternatives you've cons

[2022-04-02 16:45] vickyrules commented on #123
assign me.

[2022-04-02 17:44] Aniket-Gaurav commented on #86
Yes at last I managed to pull kindly check and merge. And let me know
about anything new.

On Sat, Apr 2, 2022 at 8:47 PM Daksh P. Jain ***@***.***>
wrote:

[2022-04-03 06:13] Daksh777 commented on #123
Good suggestion @vickyrules
Make sure to swal for it.

[2022-04-03 15:08] ankita-das-26 opened #127 "Light Mode & Dark Mode"
Hello @Daksh777 I would like to add the light and dark mode feature to your website . Can you please assign this to me

[2022-04-04 10:38] Daksh777 commented on #127
Duplicate of #128

[2022-04-04 10:38] #127 closed

[2022-04-06 10:07] Kamleshseervi opened #131 "Add uses of Take a Break on Home page"
### Is your feature request related to a problem? Please describe.

The uses of this website are not displayed on home page and people will not understand our purpose of this website not properly

### Describe the solution you'd like.

I request to add some good uses of take a break website below title so that client easily understand purpose of this site

### Describe alternatives you've consider

[2022-04-06 10:17] Daksh777 commented on #131
Already present when the website is loaded for the first time:
![image](https://user-images.githubusercontent.com/43648146/161953307-096717f2-b575-4893-9f27-b5b930bd2afd.png)

And the same popup is being added as an info button in the website in #16

[2022-04-06 10:17] #131 closed

[2022-04-06 10:19] Kamleshseervi commented on #131
We should show it for all time not for first time

[2022-04-06 10:23] Kamleshseervi commented on #89
@Daksh777 please add me to this issue

[2022-04-06 15:29] Daksh777 commented on #131
That's why we're putting an info button for that @Kamleshseervi

[2022-04-07 07:33] Pallavisingh123 opened #132 "want to add break related short scientific fact on the landing page"
### Is your feature request related to a problem? Please describe.

Hi.
I have seen that the page is seeing unattractive I want to make some changes like adding some scientific facts related to breaks, the importance of time and breaks, etc.

### Describe the solution you'd like.

![Screenshot (45)](https://user-images.githubusercontent.com/91817009/162144897-20d3a5b1-8ab8-4c41-9c56-6a8ab8e246e0.p

[2022-04-07 13:23] Daksh777 commented on #132
An info button is being added in #16 which will give info about the website and we can add some more info it, so I'll close this issue.

[2022-04-09 10:26] MOUSAM-AGARWAL commented on #55
want to work on this issue
assign under ggsoc22 label

[2022-04-10 06:11] Daksh777 commented on #55
It is already assigned to @Phani-22, @MOUSAM-AGARWAL

[2022-04-12 08:23] khushigupta123 opened #135 "Keep browsing option is not functional"
### What happened?

When the user closes a tab before break time, he receives a pop up on the website asking whether he wants to "Keep browsing" or "I'm done " but on clicking the keep browsing option, nothing happens whereas it was expected that our tab will again be revived and timer will start from where it left.

### How can we reproduce this bug?

On clicking "Keep browsing" option, the user

[2022-04-12 11:14] Anjali-Kedia opened #136 "Adding a sticky note to track or remind what work you have to do after the break"
### Is your feature request related to a problem? Please describe.

We often get so busy or involved in the social media application that we forget what work we had , due to which we end up using the media for longer than decided.

### Describe the solution you'd like.

If we keep a note of it on the site itself, once the timer goes off we will be reminded of what work we had.
I want an add note o

[2022-04-13 17:23] Anushruth-Reddy commented on #102
@Divyansh1315 is this issue still open?  If yes I would like to help/ work on it !

[2022-04-14 07:23] Daksh777 commented on #102
Since there are multiple who've asked to be assigned to the issue, if @Divyansh1315 gives no response within a day or two, I'll assign this to @Saurabh-Suchak who asked to be assigned to it after @Divyansh1315

[2022-04-14 07:59] Daksh777 commented on #135
What I was thinking is that a user will close the website for 2 reasons:
1. To change the website with the remaining break time
2. Accidentally closing the website

So, it makes more sense to have the user select the website themselves than redirecting to the same website.

[2022-04-14 07:59] #135 closed

[2022-04-14 08:25] Anushruth-Reddy commented on #102
@Daksh777 is this issue still open? If yes I would like to help/ work on it !

[2022-04-14 08:58] Divya2163 commented on #136
I would like to work on this issue under gssoc'22. Can you assign me this?

[2022-04-14 09:05] Divya2163 opened #137 "Adding custom background image"
### Is your feature request related to a problem? Please describe.

The website is simple but looks boring sometimes with a plain dark theme. It would be nice if we add some options to add a background image of the user's choice. I want to consider this issue under gssoc'22.

### Describe the solution you'd like.

We can add a customization option where they can choose the background images given.

[2022-04-14 09:06] Divya2163 commented on #137
I would like to work on this issue under gssoc'22. Can you consider this and assign me this.

[2022-04-14 10:19] Daksh777 commented on #137
I think it would harm the minimalism of the website, and we already have a colorful theme in the settings menu so I'll have to close this

[2022-04-14 10:19] #137 closed

[2022-04-14 14:31] Daksh777 opened #138 "Add theme settings to local storage"
Just like the other settings options, the theme settings also need to be added to local storage so that the browser "remembers" the state of the setting.

[2022-04-14 14:33] Daksh777 commented on #136
@Anjali-Kedia You can add an option in the settings to enable/disable a todo list. Please make sure to add the state of the option (disabled/enabled) to local storage so that the browser "remembers" the state of the setting and also the list of the todos so that it's not lost on reload as well.

[2022-04-14 14:36] Anjali-Kedia commented on #136
Yes sir, thank you for the opportunity. I can do it.

[2022-04-14 14:41] Daksh777 opened #139 "Fix abbreviations for custom time input"
Currently, the custom time input option only takes in minutes or hours as input and entering anything else (for example, 30s) will be considered as minutes.
What needs to be done:
- Add abbreviation for seconds (s)
- Consider only numbers (without any abbreviation) as minutes
- Consider anything else invalid

[2022-04-14 14:44] Daksh777 commented on #136
Please try to follow the general design of the website (like fonts, colors, etc) and make sure it's compatible with phones.

[2022-04-14 15:51] Anjali-Kedia commented on #136
Thank you, I will keep in mind!

[2022-04-14 16:52] mhammadsaani commented on #139
Is this beginners friendly?

[2022-04-14 16:52] mrkc2303 commented on #138
Hey @Daksh777
I can work on this issue. Kindly assign it to me.
Thanks

[2022-04-14 16:54] Girlwithasmile commented on #139
I am a gssoc'22 contributer n can fix this.

[2022-04-14 16:56] Daksh777 commented on #139
It should be fairly easy @mhammadsaani, if you'd like to work on it, let me know. Else, I'll assign it to @Girlwithasmile

[2022-04-14 16:57] mhammadsaani commented on #139
Is this beginners friendly?

[2022-04-14 16:58] Divya2163 commented on #139
I would like to work on this issue under gssoc

[2022-04-14 16:58] #7 closed

[2022-04-14 16:59] Daksh777 commented on #9
Any updates @vickyrules?

[2022-04-14 17:13] vickyrules commented on #9
@Daksh777 My end semester exams are going on so I need some more time.

[2022-04-14 17:16] vickyrules commented on #9
If someone asks to be assigned, assign them.

[2022-04-14 17:18] vickyrules commented on #9
If they are unable to resolve, I will ask you to reassign later (Probably after exams)

[2022-04-14 17:32] Vrushali-anil-Chaudhari commented on #73
I will like to work on this issue

[2022-04-14 19:45] kakkarot0 commented on #73
please assign me this issue

[2022-04-15 03:21] Daksh777 commented on #73
I've assigned it to @Vrushali-anil-Chaudhari because they asked first.
If they're unable to do the work, I'll assign it to you @kakkarot0

[2022-04-15 03:35] Daksh777 commented on #9
No problem @vickyrules, good luck with your exams.

[2022-04-15 12:18] pushpanjali-10 commented on #86
I want to work on this issue, and can work on it on an urgent basis, can you please assign it to me??

[2022-04-15 12:32] Aniket-Gaurav commented on #86
Me or you are assigning to other

On Fri, Apr 15, 2022, 5:48 PM Pushpanjali nema ***@***.***>
wrote:

[2022-04-15 14:20] Susmita-Dey commented on #102
@Daksh777 Is the issue still open? If yes, I would like to work on this issue.

[2022-04-16 09:53] Kuldeepmishra28 opened #141 "Add better UI to landing page"
### Is your feature request related to a problem? Please describe.

Not any bug or problem.

### Describe the solution you'd like.

Wish design a enhanced User interface for the landing page with light and dark mode functionality.

### Describe alternatives you've considered.

Can add better UI with light mode also by providing more attractive colors and design.

### Add any other context or scree

[2022-04-16 12:01] pushpanjali-10 commented on #86
I am working on it

[2022-04-16 12:46] Daksh777 commented on #86
Make sure to use a motivational image API and replace the motivational text with that in the time's up popup.

[2022-04-16 12:46] Daksh777 commented on #141
Thank you for your suggestion, however, I intend to keep the website minimal as it is right now so I don't believe this needs to be done.

[2022-04-16 12:46] #141 closed

[2022-04-16 14:31] PraveenaPulagam commented on #102
can you please assign me this issue if this issue is still open..

[2022-04-18 09:41] Daksh777 commented on #102
Since @Sakshi-1701 asked first, would you like to work on this @Sakshi-1701?

[2022-04-18 10:45] Sakshi-1701 commented on #102
@Daksh777 Yeah!

[2022-04-18 12:52] Daksh777 commented on #102
Please use the following SVG @Sakshi-1701
![Group_2](https://user-images.githubusercontent.com/43648146/163809237-68c5b4c5-d1ca-4e03-9a4a-2f714c4f7ae1.svg)

[2022-04-21 16:10] Daksh777 commented on #73
Would you like to work on this @kakkarot0?

[2022-04-21 16:13] kakkarot0 commented on #73
Yes I'm in

On Thu, Apr 21, 2022, 21:40 Daksh P. Jain ***@***.***> wrote:

[2022-04-24 13:30] Anirban-1490 commented on #35
umm @Daksh777 is this issue still active , if yes the assign me this :)

[2022-04-25 04:32] Daksh777 commented on #35
@vickyrules, would you like me to assign this issue to @Anirban-1490?

[2022-04-25 06:11] vickyrules commented on #35
Go for it.

[2022-04-25 10:13] Anirban-1490 commented on #35
Thanks will work on it :)

[2022-04-26 10:36] myhacktech opened #145 "buttons are not aligned properly at some resolution"
### Is your feature request related to a problem? Please describe.

related to responsiveness
![Screenshot (330)](https://user-images.githubusercontent.com/86517958/165281221-6aabba1e-7a56-4636-9e4c-459358454bc0.png)
![Screenshot (329)](https://user-images.githubusercontent.com/86517958/165281260-0e77a90a-1529-457d-abce-09a5170c3003.png)

### Describe the solution you'd like.

i can make completel

[2022-04-27 03:34] Daksh777 commented on #145
You may work on it

[2022-04-27 05:57] MonarchGitHub opened #146 "Integrating a to-do list on homepage"
### Is your feature request related to a problem? Please describe.

I want to add a to-do list integration with the timer, I think it will enhance the user experience as well as the productivity of the user.

### Describe the solution you'd like.

I plan to integrate the widget seamlessly into the UI so that it won't stand out.

### Describe alternatives you've considered.

I think the widget will

[2022-04-27 07:04] Daksh777 commented on #146
Duplicate of #136

[2022-04-27 07:04] #146 closed

[2022-04-30 02:05] tasneemahmed123 commented on #145
Can. You assign me this issue?

[2022-04-30 03:05] myhacktech commented on #145
I am working on it.

[2022-05-01 18:04] Anirban-1490 opened #148 "Improve the Pausing Functionality"
### What happened?

The functionality for Pausing is not good. Even after pausing the time still goes on in the background.

Video -

https://user-images.githubusercontent.com/82874704/166158589-41229570-dd5a-4327-859e-90d8d93ac162.mp4

### How can we reproduce this bug?

Just start a timer and pause it

[2022-05-02 12:34] tasneemahmed123 commented on #145
What happen if It is assigned to me and I work on it too?

[2022-05-03 03:35] AKD-01 commented on #148
please assign me this issue under gssoc label

[2022-05-03 03:41] Daksh777 commented on #148
Already being worked on in #144, I forgot to close this.

[2022-05-03 03:41] #148 closed

[2022-05-03 03:49] Daksh777 commented on #145
Only one person can be assigned to an issue at a time @tasneemahmed123

[2022-05-04 15:31] Akramovic1 opened #150 "Update colorful theme"
### Is your feature request related to a problem? Please describe.

Update colourful theme with new animation like that
![take a break](https://user-images.githubusercontent.com/58849502/166715847-0865bb2b-c952-4d04-8139-9b001ba4a03a.png)

### Describe the solution you'd like.

adding new styles for colourful theme option.

### Describe alternatives you've considered.

Adding a new CSS file.

###

[2022-05-04 15:33] Daksh777 commented on #150
Please change the background of the color theme to these animated blobs and do not change anything else.

[2022-05-04 15:59] #35 closed

[2022-05-04 16:01] #123 closed

[2022-05-04 16:11] Susmita-Dey commented on #102
Kindly assign this issue to me.
I'm a GSSoC'22 contributor. I can handle this issue.

[2022-05-04 16:53] ankita-das-26 commented on #16
@Daksh777 I want to contribute but I just have one doubt, you just want to add the about section with an icon in left side of the website right? Is there anything else also ?

[2022-05-04 17:18] Daksh777 commented on #16
Yes, just the "i" button/icon on the top left corner of the website to show the same popup when the user uses the website for the first time.
You can download an SVG icon from https://fonts.google.com/icons

[2022-05-05 09:32] #55 closed

[2022-05-05 15:36] srivastavaritik commented on #138
please assign me this issue under gssoc label

[2022-05-05 15:55] srivastavaritik commented on #9
i want to work on this issue. please assign me this issue

[2022-05-05 15:56] AKD-01 commented on #52
i want to work on this issue, please assign me this under gssoc

[2022-05-05 16:18] Daksh777 commented on #9
Can you tell me how you'd go about implementing it @srivastavaritik?

[2022-05-05 18:00] srivastavaritik commented on #138
I have created a pull request #151 for this issue. Kindly check and merge if its appropriate.
Theme is being saved in localStorage  and its working perfectly fine.

[2022-05-06 15:24] Anirban-1490 commented on #78
what kind of UI is needed ?

[2022-05-06 15:28] Anirban-1490 commented on #2
can i get some more rundown on it ?

[2022-05-07 04:35] AKD-01 opened #152 "Unexpected performance of delete button while deleting the added sites."
### What happened?

While deleting the added sites, the added icons of sites is getting removed but the delete button shifts to extreme left of the webpage.

![image](https://user-images.githubusercontent.com/83454075/167238009-cb8d778f-4d08-4c32-9764-ef1eb5edb94f.png)

### How can we reproduce this bug?

Step 1: Click on the add site icon. Add atleast two sites to reproduce this bug. (It's workin

[2022-05-07 06:18] Anirban-1490 commented on #78
@Daksh777

[2022-05-07 08:25] Susmita-Dey commented on #102
@Daksh777 Will the logo be centered in the middle or in the top left corner?

[2022-05-07 09:46] Daksh777 commented on #102
In the middle, like the picture here:
![image](https://user-images.githubusercontent.com/43648146/167248961-faeebe05-e233-43c6-b17c-1bcb56bcb283.png)

[2022-05-07 09:48] Daksh777 commented on #78
We need to replace the text timer with something like this @Anirban-1490 :
![image](https://user-images.githubusercontent.com/43648146/167249009-90fdf903-37a0-4772-b55e-027dd70aa851.png)

[2022-05-07 09:57] Anirban-1490 commented on #78
Will this UI work? I have created it myself

https://user-images.githubusercontent.com/82874704/167249284-4f1dfc14-19c5-460e-9770-8cb18e859d98.mp4

[2022-05-07 10:08] Susmita-Dey commented on #102
Okay

[2022-05-07 10:20] Daksh777 commented on #78
That looks good, only the blinking colon needs to be made static and the time's text needs to be brought a little closer. And the red color should be the blue color used in the website.

[2022-05-07 10:21] Daksh777 commented on #2
What do you mean @Anirban-1490?

[2022-05-07 10:38] Anirban-1490 commented on #78
This good ?

https://user-images.githubusercontent.com/82874704/167250772-462b0d04-f5d7-4032-b073-3bc74243fc8e.mp4

[2022-05-07 10:44] Anirban-1490 commented on #2
i mean what is this issue about? can i get some details on it

[2022-05-08 05:19] Daksh777 commented on #78
Could you change the colons to circles instead of squares? And the purple color should be `#8cb3ee` instead. Everything else looks good!

[2022-05-08 06:11] Anirban-1490 commented on #78
ok thanks i will improve these areas , assign me this issue btw

[2022-05-08 10:30] Daksh777 commented on #2
Oh, sure. So, if you open multiple websites (since you can click on the website card/enter the link and it'll open in a new tab), the timer is only shown for the first website. I don't know what can be done to deal with multiple websites, do you know any possible solution?

[2022-05-08 12:01] Anirban-1490 commented on #2
i mean , this dosen't even make any sense.

First, the timer that is shown , it's actual just a general timer , in this time period you can open any tab , and when timer is over then it's time up. but why do i need multiple timers for multiple website ?

or maybe you are saying upon time over only the first opened tab get's closed but others will stay open .

or maybe you are saying you want to gi

[2022-05-08 12:58] Daksh777 commented on #2
What I meant is that the timer shown in the website and the site title is for the first instance. For example, if I opened YouTube for 5 minutes, and opened Reddit after 2 minutes (for 5 minutes), the timer will be there for only YouTube (which was of 5 minutes) despite the fact that Reddit will close after 5 minutes.
A solution needs to be figured out to have a timer for each website/tab opened t

[2022-05-08 14:42] Anirban-1490 commented on #2
just tested

i set a timer of 5 min.
i opened YT

--after 2 min. ---

i opened Reddit

--- 5 min passed ---
Yt closed
reddit closed

i think this should be the expected behaviour . as if reddit closes after 5 min then the break is going up total of 10min.

[2022-05-09 07:08] Daksh777 commented on #2
You are absolutely correct, I'll close this issue then.

[2022-05-09 07:08] #2 closed

[2022-05-09 12:53] Anirban-1490 commented on #2
Yep

[2022-05-10 18:11] AKD-01 commented on #52
I have created a pull request #156  for this issue. I am facing an issue in mapping the enter key with the sweeetalert, please guide me through this.

[2022-05-11 06:27] sb0603 commented on #150
I am Gssoc contributor. I would like to work on this issue. Kindly assign it to me.

[2022-05-11 07:49] Daksh777 commented on #52
Please have a look here, it explains how to throw an error and map keys: https://sweetalert2.github.io/recipe-gallery/login-form.html

[2022-05-11 07:50] Daksh777 commented on #136
Yes, sure @MonarchGitHub

[2022-05-11 16:50] Anirban-1490 opened #157 "Tabs closing out early"
### What happened?

Seems like if you open any tab other than YT, the tab will pause the timer completely and throw the "Closing out early" Pop up.

Video -

https://user-images.githubusercontent.com/82874704/167904238-0f33c8e3-c753-4edf-b6a5-824664ece1c6.mp4

### How can we reproduce this bug?

Just open any tab other than YT

[2022-05-11 19:05] kusumita29 commented on #16
Can I work on it? @Daksh777

[2022-05-12 09:59] Daksh777 commented on #16
Any update @ankita-das-26? Should I assign it to @kusumita29?

[2022-05-14 18:50] NishantSingh-2705 opened #158 "Add Animations to buttons on the homepage"
### Is your feature request related to a problem? Please describe.

I want to add animated buttons which makes UI look more attractive and passionate.

### Describe the solution you'd like.

Change buttons

### Describe alternatives you've considered.

only want to add attractive buttons that matches the UI.

### Add any other context or screenshots about the feature request here.

_No response_

[2022-05-14 20:47] Anirban-1490 opened #159 "Improve the Timer Animation a Bit More"
### Is your feature request related to a problem? Please describe.

improve the circular timer animation , to smooth animation rather than tick based

### Describe the solution you'd like.

will be using css custom properties for this one

### Describe alternatives you've considered.

nothing

### Add any other context or screenshots about the feature request here.

video -

https://user-images.gi

[2022-05-15 02:35] Daksh777 commented on #159
Looks awesome!

[2022-05-15 04:43] Anirban-1490 commented on #159
Thank you :)

[2022-05-15 05:57] Daksh777 commented on #16
You may work on this @kusumita29

[2022-05-15 05:58] #52 closed

[2022-05-15 05:58] #78 closed

[2022-05-15 06:00] Daksh777 commented on #158
Thank you for the suggestion, however, I intend to keep the design minimal and so I'll have to close your issue.

[2022-05-15 06:00] #158 closed

[2022-05-15 06:02] srivastavaritik commented on #138
kindly check the pr #160

[2022-05-15 12:48] #138 closed

[2022-05-16 20:56] Anirban-1490 commented on #157
@Daksh777 seems like someone has already fixed the problem ,  can you check it again

[2022-05-17 03:12] Daksh777 commented on #157
Yes, I forgot to close this issue, the problem was fixed

[2022-05-17 03:12] #157 closed

[2022-05-17 05:49] Anirban-1490 commented on #157
lol

[2022-05-18 03:20] Daksh777 commented on #145
Since @tasneemahmed123 asked first, @tasneemahmed123 would you like to work on this or should I assign this to @aachal28?

[2022-05-20 07:18] And-Rahul commented on #139
assign me this issue, I can work on this.

[2022-05-20 09:44] Daksh777 commented on #139
@Phani-22 should I assign this to @And-Rahul?

[2022-05-20 09:57] And-Rahul commented on #139
Yes!

[2022-05-21 04:29] Abhilasha-Jairath commented on #145
I'm a GSSoC'22 contributor. I can work on this issue. Kindly assign this issue to me.

[2022-05-21 04:31] Abhilasha-Jairath commented on #73
I'm a GSSoC'22 contributor. I can work on this issue. Kindly assign this issue to me.

[2022-05-21 05:08] Daksh777 commented on #145
Since @aachal28  asked first, @aachal28 would you like to work on this or should I assign this to @Abhilasha-Jairath?

[2022-05-22 03:57] Daksh777 commented on #139
You may work on it @And-Rahul

[2022-05-22 03:58] #159 closed

[2022-05-22 03:59] Daksh777 commented on #152
Woops, really sorry. I accidentally assigned myself. Can you please work on it @AKD-01?

[2022-05-22 03:59] Daksh777 commented on #145
Since there is no reply, you may work on it @Abhilasha-Jairath

[2022-05-23 06:59] #9 closed

[2022-05-23 07:01] Daksh777 opened #164 "Button to extend time"
A button can be added under the pause/stop buttons to extend time, which opens a sweetalert popup to add to the existing time

[2022-05-23 15:04] Daksh777 commented on #73
Any update @Abhilasha-Jairath? Sorry for the hurry but since GSSOC is about to end, I'd suggest you to be a little bit quicker.

[2022-05-23 15:05] #102 closed

[2022-05-23 15:08] #136 closed

[2022-05-24 12:38] Shubham29012001 commented on #164
I would like to work on this issue for GSSoC

[2022-05-27 10:31] SHRUTI-SINGH16 commented on #86
I would like to work on this issue. Please assign me as a GSSOC 2022 Contributor.

[2022-05-28 13:51] ganesh1729ganesh commented on #164
I would like to work on this issue for GSSoC

[2022-05-28 15:27] Shubham29012001 commented on #164
Hey @ganesh1729ganesh, I am already working on this issue. You can check out some other old issues.

[2022-05-29 13:28] #86 closed

[2022-05-29 13:28] #16 closed

[2022-05-29 13:28] #139 closed

[2022-05-29 13:29] #150 closed

[2022-05-29 13:29] Daksh777 commented on #164
Any update @Shubham29012001? Please hurry up since GSSOC will end in 2 days.

[2022-05-29 15:03] Rishita489 commented on #152
Hey @Daksh777 , if no is working on this issue , can you please assign it to me . I am a GSSOC'22 contributor .

[2022-05-29 15:04] Rishita489 commented on #152
I  will try to send the PR as soon as possible .

[2022-05-29 15:23] Daksh777 commented on #152
Go ahead @Rishita489

[2022-05-29 15:52] KiranAminPanjwani opened #167 "The setting options are not displaying properly."
### What happened?

- I have noticed that the Setting options are not responsive, due to which they are going out of the page.

Dekstop view:
![image](https://user-images.githubusercontent.com/90326051/170878449-7fa28508-5eaf-4369-854a-59c4ac48769c.png)

Mobile view:
![image](https://user-images.githubusercontent.com/90326051/170878502-7d18eb51-d64a-4405-a748-9b705c0610ce.png)

### How can we repr

[2022-05-29 18:39] Anirban-1490 commented on #145
@Daksh777 quick assign me this

[2022-05-30 03:26] Daksh777 commented on #145
@Anirban-1490 please refer to the screenshots in the first comment, the buttons are unresponsive on some certain screen widths

[2022-05-30 04:42] Anirban-1490 commented on #145
ok working on it

[2022-05-30 06:12] ganesh1729ganesh commented on #164
assign it to me, I will do.

[2022-05-30 06:34] Daksh777 commented on #164
Go ahead @ganesh1729ganesh

[2022-05-30 10:15] Anirban-1490 commented on #73
@Daksh777 assign me this i will try. and explain the issue a bit . do i need to fetch the favicon fron the goolge s2 url and show it in that card for custom websites?

[2022-05-30 11:48] Daksh777 commented on #73
You need to fetch the favicon of the website URL inputted in the custom website option and show it in the card @Anirban-1490

[2022-05-30 12:26] Anirban-1490 commented on #73
ok trying

[2022-05-31 16:15] Rishita489 commented on #167
Hey @Daksh777 , I am a GSSOC'22 Contributor . Can you please assign this issue to me . I have solve the issue and send the PR . You can review and merge it.

[2022-06-01 14:36] Rishita489 commented on #167
Hey @Daksh777 , I have made necessary changes in PR . You can review and merge it .

[2022-06-02 03:18] #167 closed

[2022-06-02 04:53] Rishita489 commented on #167
Hey @Daksh777 , can you please assign GSSOC label to this PR . Today is the last day .

[2022-06-02 04:55] Daksh777 commented on #167
Done @Rishita489

[2022-06-02 05:32] #73 closed

[2022-06-02 05:32] Daksh777 commented on #152
Any update on this @Rishita489?

[2022-06-02 05:32] #145 closed

[2022-06-02 05:36] Rishita489 commented on #152
I am trying that .